<section class="uniformsister" ng-init="getInUsedCards()">
    <div class="uniformheader02">
        <h1>牌組配置</h1>
    </div>

    <div class="gamelist gamelist-02 mt0">
        <div class="gamelistinner">
            <div class="gamelist_top">
                <ul class="gamelist_inner card-select">
                    <li ng-repeat="item in inUsedCardlevels" ng-click="addCard(item)">
                        <img src="/assets/images/ggg_bgr01.png"/>
                        <div class="img_inner"><img ng-src="{{path['card']}}{{item.thumbnail}}"/></div>
                    </li>
                </ul>
            </div>
            <button class="popupprple_btn" ng-click="goto('card-list')"><img src="../assets/images/puprleimgbtn.png"/><span>儲存</span></button>
        </div>
        <!-- Modal -->

        <div aria-labelledby="myModalLabel-1" class="modal fade" id="myModal-1" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div style="width:100%;text-align:right;" class="hover" data-dismiss="modal"><a href=""></a><img
                                style="width:100px;" src="../assets/images/btn_close02.png"/></a></a>
                            <div class="popup_innr_list">
                                <ul class="list-unstyled gameseries">
                                    <li><img src="../assets/images/seriesimg01.png"/></li>
                                    <li><img src="../assets/images/seriesimg02.png"/></li>
                                    <li><img src="../assets/images/seriesimg03.png"/></li>
                                    <li><img src="../assets/images/seriesimg04.png"/></li>
                                    <li><img src="../assets/images/seriesimg05.png"/></li>
                                </ul>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="popupprple_btn" data-dismiss="modal"><img
                                    src="../assets/images/puprleimgbtn.png"/><span>確認</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>