<section class="uniformsister" ng-init="getInUsedCards()">
    <div class="uniformheader02">
        <h1>牌組配置</h1>
    </div>

    <div class="gamelist gamelist-02 mt0">
        <div class="gamelistinner">
            <div class="gamelist_top">
                <ul class="gamelist_inner card-select">
                    <li ng-repeat="item in inUsedCardlevels" ng-click="addCard(item)">
                        <img src="/assets/images/ggg_bgr01.png"/>
                        <div class="img_inner"><img ng-src="{{path['card']}}{{item.thumbnail}}"/></div>
                    </li>
                </ul>
            </div>
            <button class="popupprple_btn" ng-click="goto('card-list')"><img src="../assets/images/puprleimgbtn.png"/><span>確認</span></button>
            <button class="popupprple_btn" ng-click="goto('card-list')"><img src="../assets/images/pinkbtnbgr.png"/><span>儲存</span></button>
        </div>
        <!-- Modal -->

    </div>
</section>