<section class="uniformsister" ng-init="getInUsedCards()">
    <div class="uniformheader02">
        <h1>牌組配置</h1>
    </div>

    <div class="gamelist gamelist-02 mt0">
        <div class="gamelistinner">
            <div class="gamelist_top">
                <ul class="gamelist_inner card-select">
                    <li ng-repeat="item in inUsedCardlevels">
                        <a href="#" ng-click="removeCard(item)" class="card-remove"><i class="fa fa-close"></i> </a>
                        <img src="/assets/images/ggg_bgr01.png"/>
                        <div class="img_inner">
                            <img class="lazy-load" lazy-src="{{path['card']}}{{item.thumbnail}}"/>
                        </div>
                    </li>
                    <li ng-click="selectCard()" style="cursor: pointer" ng-repeat="n in [] | range:0:5-inUsedCardlevels.length">
                        <img src="/assets/images/ggg_bgr01.png"/>
                    </li>
                </ul>
            </div>
            <button class="popupprple_btn" ng-click="goto('card-list')"><img src="../assets/images/puprleimgbtn.png"/><span>確認</span></button>
        </div>
        <!-- Modal -->

    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZ439YDJ8R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VZ439YDJ8R');
</script>