<section class="uniformsister uniformsister-03">
    <div class="uniformheader title-arrow"><a href="#!dashboard"> <img src="/assets/images/img-check-circle.png"/>
        <h1>道具</h1></a>

        <div class="booksthree_btn">
            <button ng-click="goto('card-buy')" class="bookbtn pull-right">購買道具</button>
            <button ng-click="goto('card-select')" class="bookbtn pull-right">配置牌組</button>
                    </div>
    </div>

    <div class="gamelist">
        <div class="gamelist_top none">
            <div class="list_ratings" style="max-width:100%;">
                <button ng-click="getListUserCards()" class="bookbtn"><img src="/assets/images/toglelist.png"/></button>

                <h2>篩選</h2>

                <ul class="list-unstyled list-inline">
                    <li ng-class="{active : filterLevel == lv}" ng-repeat="lv in [1,2,3,4,5,6]">
                        <button class="rate" ng-click="getListUserCards(lv)"><i class="fa fa-star" aria-hidden="true"></i><span>{{lv}}</span></button>
                    </li>
                </ul>
            </div>


            <div class="scroll-y">
                <ul ng-init="getListUserCards()" class="gamelist_inner">
                    <li ng-repeat="item in levels">
                        <button class="listimg" ng-click="getCardLevels(item); openModal('card_detail')"><img
                                ng-src="{{path['card']}}{{item.thumbnail}}"/></button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>