<section class="reward-collection-outer" id="container" ng-init="getShippingFee()">
    <p id="orientation-status"></p>
    <div class="reward-collection-header">
        <div class="reward-collection-header-left-sec"><a href="#!mall"><img
                src="/assets/images/img-check-circle.png"/> 購物車 </a></div>
    </div>

    <div class="container checkout">
        <form ng-submit="placeOrder()" novalidate name="checkoutForm" class="customer-service-form order-form">
            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-8 checkout-left">
                    <h2>收件地址</h2>

                    <div class="form-row">
                        <p class="form-group">
                            <label>
                                <input type="text" ng-required="true" name="customerName" ng-model="order.name" placeholder="姓名" class="form-control">
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.customerName.$invalid">請填寫必填欄位</span>
                            </label>
                        </p>
                        <p class="form-group">
                            <label>
                                <select required="required" name="country" ng-init="getCountries()" ng-options="n for n in countries" ng-model="order.country" readonly disabled class="form-control">
                                    <option value="">國家</option>
                                </select>
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.country.$invalid">請填寫必填欄位</span>
                            </label>
                        </p>
                    </div>

                    <div class="form-row">
                        <p class="form-group">
                            <label>
                                <input type="text" ng-required="true" ng-model="order.address" name="address" placeholder="地址" class="form-control">
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.address.$invalid">請填寫必填欄位</span>
                            </label>
                        </p>
                        <p class="form-group">
                            <label>
                                <input type="text"  ng-required="true" ng-model="order.zipCode" maxlength="10"  name="zipCode" placeholder="郵遞區號" class="form-control">
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.zipCode.$invalid">請填寫必填欄位</span>
                            </label>
                        </p>
                    </div>

                    <div class="form-row">
                        <p class="form-group">
                            <label>
                                <input type="text"  ng-required="true" ng-model="order.phone" name="phone" placeholder="電話(*)" class="form-control">
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.phone.$invalid">請填寫必填欄位</span>

                            </label>
                        </p>
                        <p class="form-group">
                            <label>
                                <input type="email" ng-required="true" ng-model="order.email" name="email" placeholder="Email" class="form-control">
                                <span class="validation-error" ng-if="checkoutForm.$submitted && checkoutForm.email.$invalid">請填寫必填欄位</span>

                            </label>
                        </p>
                    </div>


                    <p class="form-group">
                        <label>
                            <textarea rows="4" ng-model="order.notes" class="form-control" placeholder="備註"></textarea>
                        </label>
                    </p>


                </div>
                <div class="col-xs-12 col-md-5 col-lg-4 checkout-right">
                    <h2>訂單內容</h2>
                    <table class="customer-service-table checkout-table" border="0" cellpadding="0" cellspacing="0"
                           width="100%">
                        <thead>
                        <tr>
                            <th>品項</th>
                            <th>G幣</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in carts" class="checkout-item">
                            <td>{{item.name}} <sup>x{{item.qty}}</sup></td>
                            <td>{{(item.price*item.qty).formatPrice()}}</td>
                        </tr>
                        <tr>
                            <th>總計</th>
                            <td>{{order.cartTotal.formatPrice()}}</td>
                        </tr>
                        <tr>
                            <th>郵資</th>
                            <td>{{order.shippingFee.formatPrice()}}</td>
                        </tr>
                        <tr>
                            <th>總G幣花費</th>
                            <td>{{(order.cartTotal + order.shippingFee).formatPrice()}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="form-group" style="height: 60px; margin-top: 50px">
                        <label class="pkcheckbox" style="width: 35px;
    height: 20px;
    float: left;">
                            <input ng-model="order.licenseAgree" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <span class="text-white">我已閱讀並同意相關購物條款說明</span>
                    </div>

                    <div class="form-group pull-right" style="margin-top: 20px">
                        <button type="submit" class="popupprple_btn"><img
                                src="/assets/images/pinkbtnbgr.png"/><span>送出訂單</span></button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</section>