<section class="login-home-page-outer" id="container">
    <p id="orientation-status"></p>
    <div class="container">
        <div class="login-homepage-inner-sec">
            <div class="login-home-page-logo-sec"><img alt="logo" src="/assets/images/login-homepage-logo.png"
                                                       class="login-homepage-mid-logo"></div>
            <div class="login-homepage-bottom-sec">
                <div class="cstm-container">
                    <div class="cstm-column"><a><img alt="login home" src="/assets/images/login-homepage-free-trail.png"></a></div>
                    <div class="cstm-column"><a href="#" ng-click="openModal('login')"><img
                            src="/assets/images/Login-homepage-game-login-btn.png"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

