<section class="uniformsister" ng-init="getListPrizeLogs()">
    <div class="uniformheader title-arrow">
        <a href="#!dashboard" class="">
            <img src="/assets/images/img-check-circle.png"/>
        </a>
        <h1> 獎勵領取</h1>
        <button ng-click="openModal('prize_log')"
                class="popupprple_btn bookbtn pull-right" style="width:200px;margin-top: 0px;">領取紀錄
        </button>
    </div>

    <div class="gamelist">
        <div class="gamelist_top">
            <button ng-show="prizes.length > 0" ng-click="checkAllPrizes()" class="bookbtn">一鍵全選</button>
            <ul ng-init="getListPrizes()" class="gamelist_inner grid-200">
                <li ng-repeat="prize in prizes" uib-popover="{{prize.notes}}" popover-trigger="'mouseenter'">
                    <label class="shadow" for="price-{{$index}}">
                        <div class="listbox">
                            <img ng-src="{{'/assets/images/coinicon-02.png'}}">
                            <div class="price"><span>{{prize.amount.formatPrice()}}</span>
                            </div>
                            <div class="boxcheck">
                                <span class="pkcheckbox">
                                    <input ng-model="prize.selected" id="price-{{$index}}" type="checkbox">
                                    <span class="checkmark"></span>
                                </span>
                            </div>
                        </div>
                    </label>
                </li>

            </ul>

            <h2></h2>

            <button ng-show="prizes.length > 0"  ng-click="redeem()" class="popupprple_btn"><img src="/assets/images/puprleimgbtn.png"><span>領取</span></button>

        </div>
    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZ439YDJ8R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VZ439YDJ8R');
</script>