<section class="reward-collection-outer" id="container">
    <p id="orientation-status"></p>
    <div class="reward-collection-header">
        <div class="reward-collection-header-left-sec"><a href="#!dashboard"><img
                src="/assets/images/img-check-circle.png"/> 商城 </a></div>
        <div class="header-right">
            <a href="#!shopping-cart" class="cart-icon"><i class="fa fa-shopping-cart"></i><span>{{cartTotals}}</span> </a>
        </div>
    </div>
    <div class="mall-product-outer">
        <div class="container">
            <div class="mall-category-header-menu"><span class="mall-cat-name"><img src="/assets/images/category-icon.png"
                                                                                    class="img-responsive"> 類別</span>
                <ul class="mall-category-menu" ng-init="getListProductCats()">
                    <li ng-class="{active : currentFilter === undefined}">
                        <button ng-click="getProducts()" class="btn btn-default filter-button"
                        >全部類別
                        </button>
                    </li>
                    <li ng-class="{active: currentFilter === cat.name}" ng-repeat="cat in productCats">
                        <button ng-click="getProducts(cat.id)" class="btn btn-default filter-button"
                                type="button">{{cat.name}}
                        </button>
                    </li>
                </ul>
            </div>
            <div class="mall-category-products" ng-init="getProducts()">
                <div ng-repeat="product in products"
                     class="gallery_product filter" ng-click="setCurrentProduct(product);">
                    <a class="mall-product-inner" href="#">
                        <div class="image-box"><img ng-src="{{path['product']}}{{product.thumbnail}}"
                                                    class="img-responsive"></div>
                        <h3 class="product-title">{{product.name}}</h3>
                        <div class="product-price"><span><img src="/assets/images/price-icon.png"> <b>{{product.price.formatPrice()}}</b></span>
                        </div>
                    </a></div>

            </div>
        </div>
    </div>

</section>