<section class="uniformsister uniformsister-03">
    <div class="uniformheader title-arrow"><a href="#!role-game/{{currentRole.id}}"> <img
            src="/assets/images/img-check-circle.png"/>
        <h1>返回遊戲</h1></a>
    </div>

    <div class="uniformvedio_section video-section" ng-init="getRole(); getCurrentUser()">

        <table>
            <colgroup>
                <col width="30%">
                <col width="70%">
            </colgroup>
            <tbody>
            <tr>
                <td class="vertical-align-bottom">
                    <div class="infowith_pinkbg">
                        <h1>{{currentRole.name}}</h1>

                        <ul class="list-unstyled">
                            <li>三圍 <span>{{currentRole.measurement}}</span></li>
                            <li>身高 <span>{{currentRole.height}} cm</span></li>
                            <li>體重 <span>{{currentRole.weight}} kg</span></li>
                        </ul>
                    </div>


                </td>
                <td class="vertical-align-bottom">
                    <div class="vedio">
                        <video id="videoPlay" ng-video="" class="video" controls=""
                               controlslist="nodownload" ng-src="{{currentRole.video}}" autoplay
                               ng-poster="{{path['role_video_image']}}{{currentRole.videos[0].cover}}" muted="" width="400">
                        </video>
                        <button ng-show="!currentVideo.playing" ng-click="playVideo()" class="vedioicon"><img
                                src="/assets/images/vedioicon.png"/></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="vertical-align-bottom">
                    <div class="vedio_slider">
                        <div class="nowplay"
                             ng-class="{fullpaly: video.id !== currentVideoPlaying, halfplay: video.id === currentVideoPlaying}"
                             ng-repeat="video in currentRole.videos | orderBy: 'level'">
                            <img ng-if="video.id === currentVideoPlaying || gaming.progressLevel < video.level"
                                 lazy-src="{{path['role_video_image']}}{{video.cover}}"/>
                            <img ng-if="video.id !== currentVideoPlaying && gaming.progressLevel >= video.level"
                                 ng-click="playVideo(video)" lazy-src="{{path['role_video_image']}}{{video.cover}}"/>

                            <div ng-if="gaming.progressLevel >= video.level" class="blackoverlay">

                                <!--Not playing-->
                                <div ng-if="video.id !== currentVideoPlaying" ng-click="playVideo(video);">
                                    <div>
                                        <img src="/assets/images/play-icon.png" class="locked-icon">
                                        <span>播放</span>
                                    </div>
                                </div>

                                <!--Playing-->
                                <div ng-if="video.id === currentVideoPlaying" ng-click="pauseVideo(video);">

                                        <span>正在播放</span>
                                </div>

                            </div>



                            <!--Locked video -->
                            <div ng-if="gaming.progressLevel < video.level" ng-click="unlockVideo(video.id)" class="blackoverlay">
                                <div>
                                    <img src="/assets/images/lock-icon.png" class="locked-icon">
                                    <span class="noramal">達 <span class="rps">{{video.threshold.formatPrice()}}分</span> 即可解鎖</span>
                                    <span class="hovertxt">討厭，想偷看我嗎？ 點數還不夠喔！</span>
                                </div>

                            </div>

                        </div>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VZ439YDJ8R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VZ439YDJ8R');
</script>
