<section class="uniformsister uniformsister-03">
    <div class="uniformheader title-arrow"><a href="#!role-game/{{currentRole.id}}"> <img src="/assets/img/img-check-circle.png"/>
        <h1>返回遊戲</h1></a>
    </div>

    <div class="uniformvedio_section" ng-init="getRole(); getCurrentUser()">
        <div class="col-md-5 col-sm-5">
            <div class="infowith_pinkbg">
                <h1>{{currentRole.name}}</h1>

                <ul class="list-unstyled">
                    <li>三圍 <span>{{currentRole.measurement}}</span></li>
                    <li>身高 <span>{{currentRole.height}} cm</span></li>
                    <li>體重 <span>{{currentRole.weight}} kg</span></li>
                </ul>
            </div>
        </div>

        <div class="col-md-7 col-sm-7">
            <div class="vedio">
                <video id="videoPlay" class="video" onclick="this.paused ? this.play() : this.pause();" controls=""
                       controlslist="nodownload" muted="" width="400">
                </video>
                <!--<button class="vedioicon"><img src="images/vedioicon.png" id="playbutton"></button> --></div>
        </div>
    </div>

    <div class="vedio_slider">
        <div class="nowplay" ng-class="{fullpaly: gaming.earnedCredit < video.requiredScore || video.playing}" ng-repeat="video in currentRole.videos | orderBy: 'level'">
            <img ng-if="video.playing || gaming.earnedCredit < video.requiredScore" ng-src="{{path['role_video_image']}}{{video.cover}}"/>
            <img ng-if="!video.playing && gaming.earnedCredit >= video.requiredScore" ng-click="playVideo(video)" ng-src="{{path['role_video_image']}}{{video.cover}}"/>
            <!--Playing-->
            <div ng-if="video.playing" class="blackoverlay">
                <div>
                    <p></p>
                    <span>播放</span>
                </div>
            </div>

            <!--Locked video -->
            <div ng-if="gaming.earnedCredit < video.requiredScore" ng-click="unlockVideo(video.id)" class="blackoverlay">
                <div>
                    <p></p>
                    <span class="noramal">達 <span class="rps">{{video.price.formatPrice()}}分</span> 即可解鎖</span>
                    <span class="hovertxt">討厭，想偷看我嗎？ 點數還不夠喔！</span>
                </div>

            </div>

        </div>

    </div>
</section>