<section class="reward-collection-outer" id="container">
    <p id="orientation-status"></p>
    <div class="reward-collection-header">
        <div class="reward-collection-header-left-sec"><a href="#!dashboard"><img
                src="/assets/images/img-check-circle.png"/> 用戶資料 </a></div>
    </div>
    <div class="container">
        <div class="reward-collection-mid-section">
            <div class="user-information-outer">
                <div class="user-info-coulmn">
                    <div class="author-img">
                        <label style="cursor: pointer">
                            <img class="img-responsive" alt="avatar" ng-if="currentUser.avatar != null && currentUser.avatar !== ''" ng-src="{{config.api_domain + '/files/users/' + currentUser.avatar}}">
                            <img class="img-responsive" alt="avatar" ng-if="currentUser.avatar == null || currentUser.avatar == ''" src="/assets/images/default-avatar.png">

                            <input file-upload ng-model="userAvatar" type="file" ng-hide="true">
                        </label>
                    </div>
                    <h2>{{currentUser.username}}</h2>
                    <span><strong>UID</strong> {{currentUser.uid}}</span></div>
                <div class="user-info-coulmn">
                    <h5>擁有G幣</h5>
                    <h3>{{currentUser.credit.formatPrice()}}</h3>
                    <a href="#!monthly-stored-value"><img src="/assets/images/go-to-stored-value-btn.png"
                                                              class="img-responsive"></a></div>
                <div class="user-info-coulmn">
                    <div class="progress" data-percentage="{{currentUser.gameProgress.round()}}">

                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="-67.1 724.9 134.1 134.1" enable-background="new -67.1 724.9 134.1 134.1" xml:space="preserve">
<defs>

    <filter id="dropshadow" x="-2" y="-2" width="200" height="200">
      <feGaussianBlur  stdDeviation="3"/>
    </filter>
  </defs>

<g>

    <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M0,726.4c36.2,0,65.6,29.4,65.6,65.6
		S36.2,857.6,0,857.6s-65.6-29.4-65.6-65.6S-36.2,726.4,0,726.4z" id="circle-base"/>

    <path fill="none" stroke="#ce5937" stroke-width="3" stroke-miterlimit="10" d="M0,726.4c36.2,0,65.6,29.4,65.6,65.6
		S36.2,857.6,0,857.6s-65.6-29.4-65.6-65.6S-36.2,726.4,0,726.4z" id="circle-value2" filter="url(#dropshadow)"/>

    <path fill="none" stroke="#FFFFFF" stroke-width="3" stroke-miterlimit="10" d="M0,726.4c36.2,0,65.6,29.4,65.6,65.6
		S36.2,857.6,0,857.6s-65.6-29.4-65.6-65.6S-36.2,726.4,0,726.4z" id="circle-value"/>



    <g>
        <text transform="matrix(1 0 0 1 -47.762 782.7366)" fill="#DDDDDD" font-size="24">遊戲進度</text>
        <text transform="matrix(1 0 0 1 -38.6297 825.3)" fill="#FFFFFF" font-size="40">{{ currentUser.gameProgress.round() }}%</text>
	</g>
</g>
</svg>



                        <div class="progress-value">
                            <div><span>遊戲進度</span><br>
                                {{currentUser.gameProgress.round()}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>