<section class="reward-collection-outer" id="container">
    <p id="orientation-status"></p>
    <div class="reward-collection-header">
        <div class="reward-collection-header-left-sec"><a href="#!dashboard"><img
                src="/assets/images/img-check-circle.png"/> 用戶資料 </a></div>
    </div>
    <div class="container">
        <div class="reward-collection-mid-section">
            <div class="user-information-outer">
                <div class="user-info-coulmn">
                    <div class="author-img">
                        <label style="cursor: pointer">
                            <img lazy-src="{{currentUser.avatar !== '' && config.api_domain + '/files/users/' + currentUser.avatar || currentUser.avatar == '' && '/assets/images/default-avatar.png'}}" class="img-responsive">
                            <input file-upload ng-model="userAvatar" type="file" ng-hide="true">
                        </label>
                    </div>
                    <h2>{{currentUser.username}}</h2>
                    <span><strong>UID</strong> {{currentUser.uid}}</span></div>
                <div class="user-info-coulmn">
                    <h5>擁有G幣</h5>
                    <h3>{{currentUser.credit.formatPrice()}}</h3>
                    <a href="#!monthly-stored-value"><img lazy-src="/assets/images/go-to-stored-value-btn.png"
                                                              class="img-responsive"></a></div>
                <div class="user-info-coulmn">
                    <div class="progress" data-percentage="{{currentUser.gameProgress.round()}}"><span class="progress-left"> <span
                            class="progress-bar"></span> </span> <span class="progress-right"> <span
                            class="progress-bar"></span> </span>
                        <div class="progress-value">
                            <div><span>遊戲進度</span><br>
                                {{currentUser.gameProgress.round()}}%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>