<div class="modal-header">
    <!--<h4 class="modal-title">遊戲登入</h4>-->
    <a class="close" ng-click="modal.card_pool_buy.close()"><img src="/assets/images/closebtn-small.png"></a>
</div>

<div class="modal-body">
    <div class="login-welcome-page">
        <div class="form-group">
            <label class="warning-message">
                您的剩餘點數：{{currentUser.credit.formatPrice()}}
                確認扣點{{currentPool.price}}點嗎？
        </label>
        </div>
    </div>
</div>

<div class="modal-footer flex flex-row flex-center justify-content-center">
    <button type="reset" ng-click="modal.card_pool_buy.close()">取消</button>
    <button typeof="button" ng-click="drawCard(currentPool)">確認購買</button>
</div>