<div class="modal-header">
    <h4 class="modal-title">配置道具牌</h4>
        <button type="button" class="close" ng-click="modal.card_select.close()">&times;</button>
</div>
<div class="modal-body">
    <div class="gamelist gamelist-02 mt0">
        <div class="gamelistinner">
            <div class="gamelist_top">
                <ul class="gamelist_inner card-select" ng-init="getInUsedCards()">

                    <li ng-repeat="item in inUsedCardlevels">
                        <a href="#" ng-click="removeCard(item)" class="card-remove"><i class="fa fa-close"></i> </a>
                        <img src="/assets/images/ggg_bgr01.png"/>
                        <div class="img_inner" style="cursor: pointer">
                            <img ng-click="openCardDetail(item)" ng-src="{{path['card']}}{{item.thumbnail}}"/>
                        </div>
                    </li>
                    <li ng-click="selectCard()" style="cursor: pointer" ng-repeat="n in [] | range:0:5-inUsedCardlevels.length">
                        <img src="/assets/images/ggg_bgr01.png"/>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Modal -->
    </div>
</div>
<div class="modal-footer  flex flex-row flex-center justify-content-center">
    <button type="reset" ng-click="goto('role-game/' + currentRole.id)">本局不使用</button>
    <button type="button"  ng-click="saveAndEnterGame()">配置</button>
</div>