<div class="modal-header">
    <button class="popupprple_btn" ng-click="modal.card_detail.close()"><img src="/assets/images/closebtn.png"/>
    </button>
</div>

<div class="modal-body">
    <div class="babyimg"><img ng-src="{{path['card']}}{{viewingLevel.thumbnail}}"/></div>

    <div class="babyimg_info">
        <div class="tpname">
            <h2>{{viewingLevel.card.name}}</h2>
            <div class="star-glowing" style="margin-left: 25px" ng-class="'star-'+viewingLevel.level"></div>
        </div>

        <div class="paragraph">{{viewingLevel.description}}
            <div class="ratings_info">
                <h3>- 星數說明 -</h3>

                <div class="menu select-level"><a id="showall">全部星等</a>
                    <a ng-repeat="level in cardLevels | orderBy: 'level'" class="showSingle" ng-click="setCurrentLevel(level)">{{level.level}}星</a>
                </div>

                <section class="cnt">
                    <div class="targetDiv" id="div1">
                        <p ng-class="'star-'+ selectedLevel.level">{{selectedLevel.description}}</p>
                    </div>

                </section>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer text-right">
    <button class="popupprple_btn" data-dismiss="modal"><img src="/assets/images/puprleimgbtn.png"/><span>出售</span>
    </button>
    <button class="popupprple_btn" data-dismiss="modal"><img
            src="/assets/images/pinkbtnbgr.png"/><span>升級</span></button>
</div>