<div class="modal-header">
    <a class="close" ng-click="modal.cart.close()"><img lazy-src="/assets/images/closebtn-small.png"></a>

</div>
<div class="modal-body">
    <div class="login-welcome-page">
        <div class="form-group"><label class="warning-message">
            產品已添加到購物車
        </label></div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal-footer flex flex-row flex-center justify-content-center">
    <button type="reset" ng-click="modal.cart.close()">取消</button>
    <button type="button" ng-click="goto('checkout')">去結賬</button>
</div>