<div class="modal-header">
    <button type="button" class="close" ng-click="modal.cell_register.close()">&times;</button>
</div>
<div class="modal-body" id="mobile-registration-outer">
    <div class="login-welcome-page">
        <form class="form-mobile-registration form-signup" name="cellsignup" id="cellsignup" ng-submit="cellSignUp()">
            <div class="login-header">
                <h2>註冊</h2>

            </div>
            <div class="form-group">
                <label for="selectCountry" class="cstm-label">手機號碼</label>
                <select id="selectCountry" class="country-code" ng-model="user.countryCode" name="country_code" ng-required="true">
                    <option value="" style=" background-color:rgba(168,90,244,.8); color:#fff;">國碼
                    </option>
                    <option value="+886" style=" background-color:rgba(168,90,244,.8); color:#fff;">
                        台灣(+886)
                    </option>
                    <option value="+86" style=" background-color:rgba(168,90,244,.8); color:#fff;">
                        中國(+86)
                    </option>
                    <option value="+852" style=" background-color:rgba(168,90,244,.8); color:#fff;">
                        香港(+852)
                    </option>
                    <option value="+60" style=" background-color:rgba(168,90,244,.8); color:#fff;">
                        馬來西亞(+60)
                    </option>
                    <option value="+63" style=" background-color:rgba(168,90,244,.8); color:#fff;">
                        菲律賓(+63)
                    </option>
                </select>
                <input name="phone" type="text" ng-required="true" ng-model="user.displayPhone" class="form-control cstm-input-phone" placeholder=""
                       required autofocus>
            </div>
            <div class="form-group">
                <label class="cstm-label">設定暱稱</label>
                <input name="username" type="text" ng-required="true" ng-model="user.username" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
                <label class="cstm-label">設定密碼</label>
                <input name="password" type="password" ng-required="true" ng-model="user.password" class="form-control" placeholder="密碼必須至少由8個字元組成" required>
            </div>
            <div class="form-group">
                <label class="cstm-label">確認密碼</label>
                <input name="password_2" type="password" ng-required="true" ng-model="user.password2" class="form-control" placeholder="請再次輸入您的密碼" required>
            </div>
            <div class="form-group">
                <button type="submit" ng-disabled="ajaxLoading" class="btn btn-newsletter-verificaion-btn"><img
                        src="/assets/images/newsletter-verification-btn1.png"></button>
            </div>
        </form>
    </div>
</div>