<div class="modal-header">
    <a class="close" ng-click="modal.email_change_password.close()"><img lazy-src="/assets/images/closebtn-small.png"></a>

</div>
<div class="modal-body" id="mobile-registration-outer3">
    <div class="login-welcome-page">
        <form class="newsletter-verification-form" name="formVerify" ng-submit="changePassword()" id="formVerify">
            <div class="login-header">
                <h2>簡訊驗證</h2>
            </div>
            <div class="form-group">
                <label class="cstm-label">設定密碼</label>
                <input name="password" type="password" ng-model="user.password" class="form-control" placeholder="" required>
            </div>
            <div class="form-group">
                <label class="cstm-label">確認密碼</label>
                <input name="password_2" type="password" ng-model="user.password2" class="form-control" placeholder="" required>
            </div>

            <div class="button-group">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">

                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button type="submit" class="btn btn-newsletter-confirm-btn"><img
                                src="/assets/images/newsletter-confirmation-btn.png" alt="confirm"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>