<div class="modal-header">
    <button type="button" class="close" ng-click="modal.filter.close()">&times;</button>
</div>
<div class="modal-body" id="mobile-registration-outer">
    <div class="login-welcome-page">
        <form class="newsletter-verification-form" ng-submit="getListRoles()">
            <div class="login-header">
                <h2>篩選</h2>
            </div>
            <div class="filter-mid-section">
                <ul class="filter-mid-left-selection">
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.all" type="checkbox" checked="checked" class="">
                                <span class="checkmark"></span> 全部角色</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.userStarted" type="checkbox" class="">
                                <span class="checkmark"></span> 已開局</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.userNotStarted" type="checkbox" class="">
                                <span class="checkmark"></span> 未開局</label>
                        </div>
                    </li>
                </ul>
                <ul class="filter-mid-left-selection right-side-list-filter">
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.latest" type="checkbox" checked="checked" class="">
                                <span class="checkmark"></span> 新到舊</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.oldest" type="checkbox" class="">
                                <span class="checkmark"></span> 舊到新</label>
                        </div>
                    </li>
                    <li>
                        <div class="form-group-cstm">
                            <label>
                                <input ng-model="filter.hottest" type="checkbox" class="">
                                <span class="checkmark"></span> 熱門</label>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="button-group">

                <button class="btn btn-newsletter-confirm-btn" type="submit" ng-click="modal.filter.close()"><img
                        src="/assets/img/determine-btn.png"></button>

            </div>
        </form>
    </div>
</div>