<div class="modal-header">
    <button type="button" class="close" ng-click="modal.forgot_password.close()">&times;</button>
</div>
<div class="modal-body" id="mobile-registration-outer4">
    <div class="login-welcome-page">
        <form ng-submit="requestForgetPWCode()" name="forgetPw" id="forgetPw" class="newsletter-verification-form">
            <div class="login-header">
                <h2>忘記密碼</h2>
            </div>
            <div class="form-group">
                <label>註冊時手機門號/電子信箱</label>
                <input type="text" class="form-control cstm-input-one" ng-model="user.username" placeholder="" required>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="button-group">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6"></div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button form="forgetPw" class="btn btn-newsletter-confirm-btn" ng-disabled="ajaxLoading" type="submit"><img
                        src="/assets/images/newsletter-confirmation-btn.png"></button>
            </div>
        </div>
    </div>
</div>