<div class="modal-header">
    <a class="close" ng-click="vm.close()"><img lazy-src="/assets/images/closebtn-small.png"></a>

</div>
<div class="modal-body">
    <div class="">
        <label class="warning-message" ng-bind-html="vm.message"></label>
        <div class="clearfix"></div>
    </div>
</div>
<div class="modal-footer" ng-if="vm.cb || vm.cb2">
    <div class="flex flex-row justify-content-center">
        <button ng-if="!vm.hideCancel" type="reset" ng-click="vm.cb2(); vm.close()">{{vm.cancelText}}</button>
        <button type="button" ng-class="{'m-0': vm.hideCancel}" ng-click="vm.cb(); vm.close()">{{vm.buttonText}}</button>
    </div>
</div>