<div class="modal-header">
    <a class="close" ng-click="modal.login.close()"><img src="/assets/images/closebtn-small.png"></a>


</div>
<div class="modal-body">
    <div class="login-welcome-page">
        <form class="form-signin" name="formLogin" ng-submit="login()">
            <div class="login-header">
                <h2>遊戲登入</h2>
            </div>
            <div class="form-group">
                <label>暱稱</label>
                <input name="username" ng-model="user.username" type="text" class="form-control" placeholder="" required
                       autofocus>
            </div>
            <div class="form-group">
                <label>密碼</label>
                <input name="password" ng-model="user.password" type="password" class="form-control" placeholder=""  required>
            </div>
            <div class="form-group"><a href="#" class="forgot-pass-link"
                                       ng-click="openModal('forgot_password')">忘記密碼？</a>
            </div>
            <div class="button-group">
                <div class="row">
                    <div class="flex flex-center justify-content-space-evenly">
                        <a class="btn-registered-link" href="#"
                           ng-click="openModal('register')"><img
                                src="/assets/images/btn-register.png"></a>
                        <button class="btn-login-btn" type="submit"><img alt="Login" src="/assets/images/btn-login.png">
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>