<div class="modal-header">
    <h4 class="modal-title">恭喜您，獲得以下卡牌</h4>
    <a class="close" ng-click="modal.lucky_draw.close()"><img src="/assets/images/closebtn-small.png"></a>
</div>
<div class="modal-body">
    <div class="gamelist_top none">
        <ul class="gamelist_inner small">
            <li ng-repeat="item in luckyLevels">
                <button class="listimg" ng-click="getCardLevels(item); openModal('card_draw_detail')"><img
                        lazy-src="{{path['card']}}{{item.thumbnail}}" class="lazy-load"/></button>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer  flex flex-row flex-center justify-content-center">
    <button type="reset" ng-click="modal.lucky_draw.close()">取消</button>
    <button typeof="button" ng-click="goto('card-list')">立即配置</button>
</div>