<div class="modal-header">
    <a class="close" ng-click="modal.lucky_draw.close()"><img src="/assets/images/closebtn-small.png"></a>
</div>
<div class="modal-body">
    <div class="gamelist_top none">
        <ul class="gamelist_inner small">
            <li ng-repeat="item in luckyLevels">
                <button class="listimg" ng-click="getCardLevels(item); openModal('card_detail')"><img
                        ng-src="{{path['card']}}{{item.thumbnail}}"/></button>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer  flex flex-row flex-center justify-content-center">
    <button type="reset" ng-click="modal.lucky_draw.close()">取消</button>
    <button typeof="button" ng-click="goto('card-list')">道具</button>
</div>