<div class="modal-header">
    <button type="button" class="close" ng-click="modal.prize_log.close()">&times;</button>
</div>
<div class="modal-body">
    <div class="popup_innr_list">
        <div class="row" ng-repeat="log in prizeLogs">
            <div class="col-md-3">
                <h3>{{log.amount}} G幣</h3>
            </div>
            <div class="col-md-6">
                <h4>{{log.notes}}</h4>
            </div>
            <div class="col-md-3">
                <div class="date">{{log.redeemedAt.toDate().toLocaleDateString()}}</div>
            </div>
        </div>
        <h3 ng-if="prizeLogs.length == 0">目前沒有任何領取紀錄</h3>
    </div>
</div>