<div class="modal-header">
    <a class="close" ng-click="modal.register.close()"><img lazy-src="/assets/images/closebtn-small.png"></a>

</div>
<div class="modal-body">
    <div class="login-welcome-page">
        <div class="login-header">
            <h2>註冊方式</h2>
        </div>
        <div class="form-group">
            <div class="cstm-btn">
                <a href="#" ng-click="resetUserData(); openModal('cell_register')"
                   class="mobile-verify-btn">
                    <img alt="cell" src="/assets/images/mobile-verify-btn.png">
                </a>
            </div>
            <div class="cstm-btn">
                <a href="#" ng-click="resetUserData(); openModal('mail_register')"
                   class="email-verify-btn"><img alt="email" src="/assets/images/email-verify-btn.png"></a>
            </div>
        </div>
    </div>
</div>