<div class="modal-header">
    <button type="button" class="close" ng-click="modal.register.close()">&times;</button>
</div>
<div class="modal-body">
    <div class="login-welcome-page">
        <div class="login-header">
            <h2>註冊方式</h2>
        </div>
        <div class="form-group">
            <div class="cstm-btn">
                <a href="#" ng-click="openModal('cell_register')"
                   class="mobile-verify-btn">
                    <img alt="cell" src="/assets/img/mobile-verify-btn.png">
                </a>
            </div>
            <div class="cstm-btn">
                <a href="#" ng-click="openModal('mail_register')"
                   class="email-verify-btn"><img alt="email" src="/assets/img/email-verify-btn.png"></a>
            </div>
        </div>
    </div>
</div>