<div class="modal-header">
    <div class="uniformheader text-right" ng-click="modal.video_detail.close()">
        <a href=""><img alt="heading" src="/assets/images/btn_close.png" class="closebtn"/>
        </a>
    </div>
</div>

<div class="modal-body">
    <div class="video-container flex flex-row flex-space-between">
        <div>
            <div class="vedio" >
                <video controls ng-video=""  controlsList="nodownload"  ng-poster="{{path['video_image']}}{{currentVideo.cover}}"></video>
                <button ng-show="!currentVideo.playing" ng-click="playVideo()" class="vedioicon"><img src="/assets/images/vedioicon.png"/></button>
                <!--<svg ng-show="currentVideo.showLoading" class="vedioicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin:auto;display:block;" width="197px" height="197px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#ff5ea6" stroke-width="4" r="23" stroke-dasharray="108.38494654884786 38.12831551628262" transform="rotate(37.8317 50 50)">
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1.7241379310344827s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                    </circle>
                </svg>-->
            </div>
        </div>

        <div>
            <div class="vediotxt">
                <h2>{{currentVideo.name}}</h2>
                <span>{{currentVideo.actress}}</span>

                <div class="para_inner" ng-bind-html="currentVideo.intro">

                </div>

                <div class="transbtn">
                    <button ng-disabled="true" ng-repeat="tag in currentVideo.tags" class="btnclas">#{{tag.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>