@media all and (max-height: 950px) {
    .login .login-header h2 {
        margin-bottom: 15px !important;
        font-size: 25px;
    }

    .forgot_password .login-header h2 {
        margin-bottom: 10px !important;
        font-size: 20px;
    }

    a.close img {
        width: 30px
    }

    .login-welcome-page .form-group {
        /* margin-bottom: -10px; */
    }

    .login .login-welcome-page .form-group {
        margin-bottom: 10px;
    }

    .image-box {
        min-height: 70px;
    }

    .modal-header .modal-title {
        /* margin-left: 60px; */
    }

    .modal.in .modal-dialog.modal-xs .modal-body {
        padding-top: 0px;
        padding-bottom: 0;
    }

    button[type="reset"] {
        background: #fd3779;

    }

    .modal-footer {
        margin-top: -15px;
    }

    .modal.filter .login-header h2 {
        font-size: 30px;
        margin-top: -17px;
        margin-bottom: 10px;
    }

    .modal.filter .filter-mid-section ul.filter-mid-left-selection.right-side-list-filter {
        padding-left: 0%;

    }

    .modal.filter .modal-content {
        max-width: 65vw;
    }

    .modal.filter .filter-mid-section ul.filter-mid-left-selection li {
        padding-left: 40px;
    }

    .modal.filter .modal-footer {
        margin-top: -35px;
    }


}

@media (max-height: 750px) {
    .welcome-mid-right-top-left li h3 {
        font-size: 18px;
    }

    .right-cstm-btn-circle img {
        max-width: 135px;
    }

    .right-cstm-btn-circle {
        bottom: -36px;
    }
}

@media (max-width: 992px) and (max-height: 680px) {
    .modal-content {
        min-width: 40vw;
    }

    .slider-item-inner img {
        height: 70px;
    }

    .ticket_reply .modal-content  {
        min-width: 60vw;

    }

    .card_select .modal-content {
        overflow: visible;
    }

    .login-welcome-page .form-group label {
        margin-bottom: 20px;
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .modal .modal-dialog.modal-xs {
        min-width: initial;
    }

    .babyimg {
        width: auto;
        /* top: -40px; */
        /* left: -41px; */
    }

    .babyimg img {
        width: auto;
        height: 74vh;
        max-height: 400px;
    }

    .babyimg_info {
        height: 40vh;
    }
}

@media (min-width: 1300px) {
    .babyimg {
        width: auto;
        top: -40px;
        left: -41px;
    }

    .babyimg img {
        width: auto;
        height: 74vh;
    }

    .babyimg_info {
        height: 40vh;
        max-height: 300px;
    }
}

@media (min-width: 1366px) {

    .babyimg {
        width: auto;
        top: -40px;
        left: -104px;
    }

    .babyimg img {
        width: auto;
        height: 65vh;
    }

    .babyimg_info {
        height: 40vh;
    }

    ul.gamelist_inner.grid-200 {
        grid-template-columns: repeat(6, 1fr);
    }

    .mall-category-products {
        grid-template-columns: repeat(6, 1fr)
    }

}

@media (min-width: 1400px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .uniformbox_inner .coinbtn {
        position: unset;
        width: 100%;
        padding: 25px 0px;
    }

    .uniform_boxes ul li {
        min-height: 315px;
    }

    .uniformbox_inner {
        min-height: 315px;
    }

    ul.gamelist_inner li .listbox {
        padding: 15px;
    }

    .uniformsister {
        height: auto;
    }

    body.uniform_maingame {
        overflow: unset;
    }

    section.uniformsister-02 {
        height: 100vh;
    }

    button.prpulbtn img {
        max-width: 140px;
    }

    button.prpulbtn h3 {
        top: 2px;
        font-size: 18px;
    }

    .jointsbotm_btn h3.txt01 {
        left: 19%;
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (min-height: 600px) {
    .babyimg {
        width: auto;
        top: -40px;
        left: -91px;
    }

    .babyimg img {
        width: auto;
        height: 61vh;
        max-height: 500px;
    }

    .babyimg_info {
        height: 32vh;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-height: 590px) {
    .babyimg {
        width: auto;
        top: -40px;
        left: -50px;
    }

    .babyimg img {
        width: auto;
        height: 61vh;
        max-height: 500px;
    }

    .modal-content {
        max-width: 700px;
    }

    .babyimg_info {
        height: 32vh;
    }
}


@media all and (max-width: 1920px) {
    .babyimg {
        width: auto;
        top: -40px;
        left: -91px;
    }

    .babyimg img {
        width: auto;
        height: 61vh;
        max-height: 500px;
    }

    .babyimg_info {
        height: 32vh;
    }
}

@media (max-width: 1440px) {
    .gametableinner {
        padding-top: 30px
    }

    ul.diseboxs_list li img {
        padding: 20px 12px;
    }

    ul.usernmber_list li p {
        margin-bottom: 15px;
    }

    ul.gamelist_inner li .listbox h4 {
        font-size: 1.7rem;
        height: 24px;
        line-height: 26px;
    }
    ul.gamelist_inner li .listbox h5 {
        font-size: 1.3rem;
    }
    ul.gamelist_inner li .listbox{
        padding: 15px;
    }
    ul.gamelist_inner {
        grid-gap: 20px;
    }
}

@media all and (max-width: 1300px){
    .welcome-bottom-inner .owl-nav button.owl-prev{
        left: -20px !important;
    }

    .welcome-bottom-inner .owl-nav button.owl-next{
        right: -20px !important;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .welcome-mid-left-girl-img img.girl-img {
        margin-left: -20px;
    }
}

@media (max-width: 1190px) {
    .header-top-left-menu {
        padding: 0;
    }

    .header-top-left-menu ul li a {
        font-size: 20px;
        padding: 5px 30px;
    }
}

@media (max-width: 1024px) {

    .card-pools {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .uniform_boxes ul li, .uniformbox_inner {
        min-height: initial;
    }

    .menu.select-level a {
        font-size: 14px;
    }

    .mark180 ul li img {
        max-width: 43px;
    }

    .mark180 ul li {
    }

    .toprate_block img.girlimg {
        max-width: 140px;
        height: auto;
        min-height: initial;
    }

    .yellowshed .pull-left.text-right {
        width: calc(100% - 130px);
        bottom: -9px;
    }

    .topstart_block h1 {
        margin-top: 15px !important;
    }

    .gametableinner {
        padding-top: 70px;
    }
}

/* Portrait tablets and small desktops */
@media all  and (max-width: 995px) {

    .progress-container-star {
        height: 10px;
        width: 66px;
        margin-top: 0px;
        margin-right: 10px;
    }
    .list_ratings, .mall-category-header-menu {
        padding: 3px 10px;
    }

    .welcome-bottom-inner .owl-nav button.owl-prev{
        left: -30px !important;
    }

    .welcome-bottom-inner .owl-nav button.owl-next{
        right: -30px !important;
    }

    ul.gamelist_inner li .listbox h4 {
        font-size: 1.3rem;
    }
    ul.gamelist_inner li .listbox h5 {
        font-size: 1rem;
    }
    ul.gamelist_inner li .listbox{
        padding: 10px;
    }
    ul.gamelist_inner {
        grid-gap: 10px;
    }

    .menu.select-level a {
        font-size: 12px;
        margin: 1px;
        padding: 3px;
    }

    .babyimg_info .ratings_info {
        padding: 10px;
    }

    .right-author-chat-icon img {
        width: 100px;
    }

    .login-homepage-bottom-sec {
        margin-top: 0;
    }

    .uniform_boxes ul li {
        min-height: 415px;
    }

    .uniformbox_inner {
        min-height: 415px;
    }

    .uniformbox_inner .bookname {
        /* width: 100%; */
        padding: 10px;
        text-align: right;
    }

    .uniformbox_inner .bookname h2 {
        margin-top: 5px;
    }

    .uniformbox_inner .coinbtn {
        position: unset;
        width: 100%;
        padding: 25px 0px;
    }

    .uniformsister {
        /* height: auto; */
    }

    ul.gamelist_inner li {
        /* width: 33.33%; */
        /* padding: 15px; */
    }

    .img_inner {
        /* padding: 26px 25px; */
    }

    ul.gamelist_inner li .listbox h4 {
    }

    ul.gamelist_inner li .listbox h5 {
        /* position: absolute; */
        /* right: 13px; */
        /* bottom: 32px; */
    }

    ul.gamelist_inner li .listbox {
        padding: 10px;
    }

    .product-price span b {
        font-size: 14px;
    }

    ul.gamelist_inner.grid-200 {
        grid-gap: 10px;
    }

    ul.gamelist_inner li .listbox span img {
        width: 15px;
    }

    .product-price span {
        font-size: 16px;
    }

    body.uniform_maingame {
        overflow: unset;
    }

    section.uniformsister-02 {
        height: 100vh;
    }

    .mark180 ul li img {
        max-width: 32px;
    }

    .yellowshed .pull-left.text-right {
        bottom: 78px;
    }

    .topstart_block h1 {
        font-size: 25px;
    }

    .topstart_block h2 {
        font-size: 20px;
    }

    .owl-nav{
        /* display: none; */
    }

    .toprate_block img.girlimg {
        max-width: 145px;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        font-size: 20px;
    }

    .markchina h2 {
        font-size: 23px;
    }

    .markchina span.bigsign img {
        max-width: 70px;
    }

    ul.usernmber_list li p {
        font-size: 16px;
    }

    ul.usernmber_list li h1 {
        font-size: 25px;
    }

    .circleimgs_botm .nmbrten {
        bottom: -5px;
        right: -5px;
    }

    button.prpulbtn img {
        max-width: 100px;
    }

    button.prpulbtn h3 {
        top: -5px;
        font-size: 13px;
    }

    .jointsbotm_btn h3.txt01 {
        left: 15%;
        top: 32px;
    }

    .jointsbotm_btn h3.txt02 {
        top: 31px;
    }

    .infowith_pinkbg h1 {
        font-size: 30px;
    }

    .infowith_pinkbg {
        padding: 10px 20px;
    }

    .uniformvedio_section {
        margin-top: -35px;

    }

    .page-role_play .uniformvedio_section{
        height: auto !important;
        position: static !important;
        top: 0 !important;
        margin-top: 0 !important;
        transform:  none !important;
    }

    .infowith_pinkbg {
        margin-top: 8%;
    }

    .booksthree_btn {
        width: 58%;
    }

    .welcome-mid-left-girl-img img.girl-img {
        margin: 0;
        margin-left: auto;
        margin-top: -50px;
    }

    .logo-section img {
        max-height: 65px;
    }

    .welcome-left-author-sec {
        clear: both;
    }

    .header-top-left-menu ul li a {
        font-size: 1.4rem;
    }

    .welcome-bottom-inner {
        margin-bottom: 0;
    }

    .welcome-mid-right-sec {
        float: none;
        left: initial;
        top: 142px;
        right: 10px;
        position: fixed;
        padding: 15px;
    }

    span.img-sec {
        width: 43px;
        height: 43px;
        top: 0;
        left: 10px;
        border: none;
    }

    span.price-icon img {
        max-width: 25px;
    }

    span.img-sec img {
        width: 35px;
        height: 35px;
    }

    .welcome-left-author-data-sec h3 {
        font-size: 1.8rem;
    }

    span.price-icon h5 {
        font-size: 1.8rem;
        padding-left: 34px;
        line-height: 27px;
    }

    .welcome-left-author-data-sec {
        width: 220px;
        min-width: initial;
        left: -33px;
    }

    .welcome-mid-left-sec {
        /* float: none; */
    }

    .right-author-chat-icon {
    }

    .menu-side-nav {
        position: absolute;
        right: 0;
        z-index: 999999;
    }

    .header-top-left-menu {
        /* margin-left: -55px; */
    }

    .welcome-mid-right-top-right {
        width: calc(100% - 155px);
        margin-left: 0;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 1.3rem;
    }

    .welcome-mid-right-top-left {
        width: 149px;
    }

    .welcome-mid-right-bottom-sec {
        margin-top: 0;
    }

    .right-cstm-btn-circle {
    }

    .welcome-mid-right-bottom-left {
    }

    .progress-level {
        height: 20px;
    }

    .progress-level .progress-level-outer, .progress-level .progress-level-inner {
    }

    .progress-level .progress-level-inner {
    }

    .progress-level .progress-level-outer {
    }

    .progress-level h6 {
        font-size: 1.5rem;
        line-height: 100%;
    }

    .welcome-mid-right-top-left ul li {
        margin-bottom: 7px;
    }

    .wel-mid-right-top-right-innr {
        height: auto;
        min-height: 65px;
        max-height: 83px;
        font-size: 1.5rem;
    }

    .welcome-bottom-inner-btn {
        top: -25px;
        right: 16px;
    }

    .slider-item-inner h4 {
        font-size: 1.3rem;
        padding: 7px;
    }

    .slider-item-inner .slidertxt-bar {
        padding-bottom: 36px;
    }

    .welcome-bottom-sec .container {
        max-width: 100%;
        width: 97%;
    }

    .welcome-bottom-inner-btn a img {
        width: 90px;
        max-height: initial;
    }

    body.page-dashboard {
        overflow: hidden;
        position: fixed;
    }

    .mark180 ul li img {
        max-width: 30px;
    }

    .game-statistic {
        position: fixed;
        left: 5px;
        top: 0;
    }

    section.uniformsister-02 .uniformheader img {
        max-width: 150px;
    }

    .mark180 ul li {
        padding: 10px 8px;
    }

    ul.diseboxs_list li img {
        max-width: 44px;
        padding: 10px 12px;
    }

    ul.usernmber_list li h1 {
        font-size: 1.3rem;
        padding: 7px 0;
    }

    ul.usernmber_list li p {
        font-size: 1.3rem;
        margin-bottom: 7px;
    }

    .topstart_block {
        padding: 10px;
        flex-basis: initial;
    }

    .toprate_block img.girlimg {
        max-width: 120px;
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 82px;
        margin-top: 0;
        object-position: top;
    }

    .totalpoints h3 {
        font-size: 1.3rem;
        padding: 6px;
    }

    .mark180 ul li h2 {
        font-size: 2rem;
        margin: 5px;
    }

    .markchina span.bigsign img {
        max-width: 40px;
    }

    .markchina h2 {
        font-size: 2rem;
    }

    .markchina {
        margin-top: 50px;
    }

    .toprate_block {
        width: 100%;
        height: 83px;
        overflow: hidden;
    }

    .yellowshed .pull-left.text-right {
        bottom: 0;
        width: 100%;
        position: absolute;
        text-align: left;
    }

    .progress-container {
        width: 100%;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        margin: 2px;
    }

    .yellowshed .pull-left.text-right h4 {
        display: none;
    }

    section.uniformsister-02 .uniformheader {
        width: auto;
        right: 0;
        left: initial;
    }

    .yellowshed .pull-right {
        position: relative;
        z-index: 9;
    }

    .yellowshed .golimg {
        max-width: 50px;
    }

    .yellowshed .golimg h1 {
        font-size: 1rem;
        padding: 14px;
        text-align: center;
    }

    .bet-unit {
        width: 50px;
        height: 50px;
        font-size: 1.6rem;
    }

    .gametableinner {
        padding-top: 60px;
    }

    .gamelastpoint {
        flex-basis: 16%;
    }

    .gamelastpoint button {
        width: 80px;
        margin-left: 10px;
    }

    .start-btn {
        width: 130px;
        padding-bottom: 34px;
    }

    .reset-btn {
        width: 128px;
        font-size: 2rem;
        padding-bottom: 42px;
    }

    .jointsbotm_btn h3.txt01 {
        font-size: 2rem;
    }

    .jointsbotm_btn {
        margin-top: 33px;
    }

    .redvlack_circle {
        max-width: 40px
    }

    .redvlack_circle .text {
        font-size: 1.3rem;
    }

    .list_ratings {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .list_ratings ul li button.rate {
        padding: 5px 15px;
        font-size: 14px;
        margin-left: 10px;
    }

    .list_ratings button.bookbtn {
        padding: 0px 5px;
    }

    .list_ratings h2 {
        margin-top: 0
    }

    .scroll-y {
        height: auto;
        overflow: auto;
        padding-bottom: 20px;
    }

    body:not(.page-role_play) section {
        padding-bottom: 20px;
    }

    .page-index section {
        padding-bottom: 0;
    }

    span.numbers {
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
    }

    a.btn.btn-registered-link {
        margin-left: 0;
        padding: 0;
    }


    .login.modal .modal-content, .register.modal .modal-content, .cell_register.modal .modal-content, .mail_register.modal .modal-content, .sms_verify.modal .modal-content, .forget_password.modal .modal-content {
        min-height: initial;
    }

    .login-home-page-logo-sec img {
        max-height: 60vh;
        max-width: 100%;
        width: auto;
    }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {


    .list_ratings ul li button.rate {
        margin-left: 0;
    }

    .uniform_boxes ul li {
        width: 100%;
        margin-bottom: 20px;
    }

    .uniformbox_inner .imgg {
        max-width: 100%;
    }

    .uniform_boxes ul li img {
        padding-bottom: 10px;
    }

    .uniformbox_inner .bookname h2 {
        margin-top: 5px;
    }

    .uniformbox_inner .coinbtn {
        position: unset;
        width: 100%;
        padding: 25px 0px;
    }

    .uniformsister {
        height: 100%;
    }

    body:not(.page-card_list) ul.gamelist_inner li {
        /* width: 50%; */
        text-align: center;
        /* padding: 10px 15px; */
        /* min-height: 280px; */
    }

    ul.gameseries li {
        width: 50%;
    }

    .img_inner {
        /* padding: 22px 25px; */
    }

    .top_sec_one {
        display: inline-block;
    }

    .box-011 {
        display: inline-block;
    }

    .gametable_block .col-md-4.col-sm-4 {
        border-left: 0;
        box-shadow: none;
    }

    body.uniform_maingame {
        overflow: auto;
    }

    .infowith_pinkbg {
        padding: 15px;
        margin-bottom: 15px;
    }

    .vedio_slider .nowplay {
        width: 30%;
    }

    .infowith_pinkbg h1 {
        font-size: 32px;
    }

    .booksthree_btn {
        width: 100%;
    }

    .booksthree_btn button.bookbtn {
        margin: 0px 0px 8px 5px;
        padding: 6px 15px;
    }

    .list_ratings button.bookbtn {
        padding: 0 5px;
    }

    .list_ratings h2 {
        font-size: 1.2rem;
    }

    .list_ratings ul li button.rate {
        padding: 2px 7px;
        font-size: 10px;
        border-width: 1px;
    }

    .list_ratings ul li button i{
        font-size: 1.2rem;
    }

    .list_ratings {
        text-align: center;
        margin-top: 0;
    }

    .vedio .vedioicon img {
        max-width: 65px;
    }

    .login-welcome-page .form-group input.form-control {
        height: 30px;
    }

    a.forgot-pass-link {
        font-size: 3.4vw;
    }

    .login.modal .modal-content, .register.modal .modal-content, .cell_register.modal .modal-content, .mail_register.modal .modal-content, .sms_verify.modal .modal-content, .forget_password.modal .modal-content {
        padding: 10px;
        width: 100%;
        max-width: initial;
    }

    .modal-body  {
        margin-top: -35px;
    }

    .forgot_password .login-welcome-page .form-group label {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 20px;
    }

    .forgot_password .modal-footer  {
        margin-top: -35px;

    }

    .sidenav a.closebtn {
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-size: 21px;
        top: 5px !important;
        right: 15px !important;

    }

    form.customer-service-form button img  {
        max-width: 90px;
    }
    .redvlack_circle img{
        width: 35px;
        height: 35px;
    }


}

@media (max-width: 479px) {
    ul.gamelist_inner li {
        width: auto;
        padding: 10px 0px;
    }

    .img_inner {
        padding: 40px 25px;
    }

    .vedio_slider .nowplay {
        width: 40%;
    }


}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    .mark180 ul li img {
        max-width: 42px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1250px) {
    .welcome-mid-right-top-left h2 {
        font-size: 20px;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {
        font-size: 1.4vw;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }

    .slider-item-inner h4 {
        font-size: 1.5vw;
    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 14px;
    }

    .product-price span b {
        font-size: 18px;
    }

    .sidenav a {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 1.5vw;
    }

    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

    button.prpulbtn {
        width: auto
    }

    button.prpulbtn h3 {
        font-size: 1.8vw;
    }

    .start-btn .jointsbotm_btn h3.txt01 {
        font-size: 2.3vw;
    }

    .reset-btn .jointsbotm_btn h3.txt01 {
        font-size: 1.7vw;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        font-size: 20px
    }

    /*a.forgot-pass-link{
        font-size: 1.4vw;
    }
    a.forgot-pass-link{
        font-size:1.4vw
    }*/
}

@media all and (min-width: 1250px) and (max-width: 1440px) {
    .welcome-mid-right-top-left h2 {
        font-size: 30px;
    }

    .welcome-left-author-sec{
        top: 44%;
    }

    .right-author-chat-icon{
        bottom: 51vh;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {
        font-size: 1.4vw;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }

    .slider-item-inner h4 {

    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 20px;
    }

    .sidenav a {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {

    }

    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

    button.prpulbtn {

    }

    button.prpulbtn h3 {

    }

    .start-btn .jointsbotm_btn h3.txt01 {

    }

    .reset-btn .jointsbotm_btn h3.txt01 {

    }

    .yellowshed .pull-left.text-right h1.ratetxt {

    }

}

@media all and (min-width: 1440px) and (max-width: 1600px) {
    .welcome-mid-right-top-left h2 {
        font-size: 36px;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {

    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }

    .slider-item-inner h4 {

    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 22px;
    }

    .sidenav a {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {

    }

    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

    button.prpulbtn {

    }

    button.prpulbtn h3 {

    }

    .start-btn .jointsbotm_btn h3.txt01 {

    }

    .reset-btn .jointsbotm_btn h3.txt01 {

    }

    .yellowshed .pull-left.text-right h1.ratetxt {

    }
}

@media all and (min-width: 1600px) {
    .welcome-mid-right-top-left h2 {
        font-size: 43px;
    }

    .login-welcome-page .form-group label {
        font-size: 30px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {

    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 31px;
    }

    .slider-item-inner h4 {

    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 22px;
    }

    .sidenav a {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {

    }

    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

    button.prpulbtn {

    }

    button.prpulbtn h3 {

    }

    .start-btn .jointsbotm_btn h3.txt01 {

    }

    .reset-btn .jointsbotm_btn h3.txt01 {

    }

    .yellowshed .pull-left.text-right h1.ratetxt {

    }
}

@media all and (min-width: 2560px){
    .welcome-mid-left-girl-img img.girl-img{
        height: 100vh;
    }
    .welcome-mid-right-sec {
        top: 4em;
    }
    .right-author-chat-icon {
        right: 14%;
    }
    .slider-item-inner img {
        height: 250px;
    }
}

@media (max-height: 450px) {
    .sidenav a  {
        font-size: 14px;
    }

    ul.filter-mid-left-selection li label {
        font-size: 20px;
        line-height: 24px;
    }

    .gaming-header {
        padding-top: 5px;
    }
}


@media all and (max-width: 1000px) {
    .page-role_play table colgroup > col:first-child {
        width: 40%;
    }

    .user-info-coulmn h3 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .user-info-coulmn a img {
        max-width: 120px;
    }

    .author-img img {
        width: 100px;
        height: 100px;
    }

    .author-img {
        margin-bottom: 0;
    }

    .user-info-coulmn h2 {
        font-size: 2rem;
    }

    .user-info-coulmn span {
        font-size: 1.5rem;
    }

    .user-information-outer .user-info-coulmn .progress {
        margin-top: 0;
    }

    .progress {
        margin-bottom: 0;
    }

    .user-information-outer {
        margin: 0;
    }

    .page-user_information section {
        padding-bottom: 0 !important;
    }

    .uniformheader02 {
        padding: 0;
    }
    .uniformheader02 h1{
        margin: 10px;
    }

    ul.gamelist_inner{
        margin-top: 10px;
    }

    .page-card_select section{
        padding-bottom: 0 !important;
    }

    .gamelist-02 .gamelist_top{
        padding: 10px
    }

    .monthly-stored-value a img {
        max-width: 400px;
    }
    .monthly-stored-value-bottom-sec img{
        width: 132px;
        margin: 0 auto;
        max-width: 100%;
    }
    .monthly-stored-value-bottom-sec ul li {
        min-height: initial;
        padding: 10px;
    }

    .img-outer-cstm {
        max-height: 10em;
    }
    .monthly-stored-value-bottom-sec li span{
        max-width: 98px;
        font-size: 10px;
        bottom: -13px;
    }

    .monthly-stored-value-bottom-sec ul{
        grid-gap: 10px;
    }
    .monthly-stored-value-bottom-sec ul{
        grid-template-columns: repeat(5, 1fr);
    }
    .monthly-stored-value-bottom-sec h4 {
        font-size: 14px;
        margin: 0 0 15px 0;
    }

    .payment_method_select{
        height: 40px;
    }

    .payment_method .modal-footer{
        margin-top: 0;
    }

    .page-price_plan section{
        padding-bottom: 0!important;
    }
}

@media all and (max-width: 950px) {
    div#mySidenav  {
        max-width: 170px;

    }

    .dices-result img {
        width: 35px;
        height: 35px;
    }

    .dices-result {
        position: fixed;
        width: 130px;
        height: 55px;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        border: 3px solid #fff;
    }

    ul.gamelist_inner.card-select li{
        padding: 0;
    }

    .list_ratings ul.gamelistul li a,
    .gamelist-03 .list_ratings h2{
        font-size: 1.3rem;
    }
    .bookbtn img {
        width: 18px;
    }



}

@media all and (max-width: 375px){
    #mobile-registration-outer label.cstm-label{
        font-size: 14px
    }
}