
@media (max-width: 1440px) {
    .gametableinner {
    }

    ul.diseboxs_list li img {
        /* padding: 20px 12px; */
    }

    ul.usernmber_list li p {
    }

    ul.gamelist_inner li .listbox h4 {
        font-size: 1.7rem;
        height: 24px;
        line-height: 26px;
    }
    ul.gamelist_inner li .listbox h5 {
        font-size: 1.3rem;
    }
    ul.gamelist_inner li .listbox{
    }
    ul.gamelist_inner {
        grid-gap: 20px;
    }
}


@media (max-width: 1190px) {
    .header-top-left-menu {
        padding: 0;
    }

    .header-top-left-menu ul li a {
        font-size: 20px;
        padding: 5px 20px;
    }
}


@media all and (max-width: 1440px) {

    .welcome-mid-right-top-left h2 {
        font-size: 1.8rem;
    }
}


@media (max-width: 1368px) {
    div#mySidenav {
        max-width: 300px;
    }


}



/*************************/
@media (max-width: 1250px) {
    .welcome-mid-right-top-left h2 {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 18px;
    }

    .welcome-mid-right-top-left ul {
        margin-top: 10px;
    }

    .welcome-mid-right-bottom-left {
        width: 55%;
        margin-top: 10px;
        position: relative;
    }

    .welcome-mid-right-bottom-left h6 {
        left: 0;
        top: 2px;
    }

    .welcome-mid-right-top-right {
        padding: 15px;
    }




}



@media all and (max-width: 1024px) {

    .welcome-mid-left-girl-img img.girl-img {
        margin-top: 0;
    }

    .welcome-mid-left-sec {
        padding-left: 0;
    }


    .welcome-mid-right-top-left h2 {
        font-size: 20px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 18px;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 18px;
    }

    .wel-mid-right-top-right-innr h4 {
        font-size: 15px;
    }

    .welcome-mid-right-top-right {
        padding: 15px;
    }


    body:not(.page-dashboard) {
        overflow: auto;
    }

    .welcome-mid-section .container-fluid {
        max-width: 100vw;
    }

    html, .reward-collection-outer {
        height: auto;
    }

    .gamelastpoint button {
    }

    .card-pools {
        grid-gap: 7vh;
    }

    .uniform_boxes ul li, .uniformbox_inner {
        min-height: initial;
    }


    .toprate_block img.girlimg {
        max-width: 140px;
        height: auto;
        min-height: initial;
    }

    .yellowshed .pull-left.text-right {
        /* width: calc(100% - 130px); */
        bottom: -9px;
    }

    .topstart_block h1 {
        margin-top: 15px !important;
    }

    .gametableinner {
    }
}


@media all and (max-width: 1000px) {
    .page-role_play table colgroup > col:first-child {
        width: 40%;
    }

    .user-info-coulmn h3 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .user-info-coulmn a img {
        max-width: 120px;
    }

    .author-img img {
        width: 100px;
        height: 100px;
    }

    .author-img {
        margin-bottom: 0;
    }

    .user-info-coulmn h2 {
        font-size: 2rem;
    }

    .user-info-coulmn span {
        font-size: 1.5rem;
    }

    .user-information-outer .user-info-coulmn .progress {
        margin-top: 0;
    }

    .progress {
        margin-bottom: 0;
    }

    .user-information-outer {
        margin: 0;
    }

    .page-user_information section {
        padding-bottom: 0 !important;
    }

    .uniformheader02 {
        padding: 0;
    }
    .uniformheader02 h1{
        margin: 10px;
    }

    ul.gamelist_inner{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .gamelist_inner.small{

        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }

    .page-card_select section{
        padding-bottom: 0 !important;
    }

    .gamelist-02 .gamelist_top{
        padding: 10px
    }

    .monthly-stored-value a img {
        max-width: 400px;
    }
    .monthly-stored-value-bottom-sec img{
        width: 132px;
        margin: 0 auto;
        max-width: 100%;
    }
    .monthly-stored-value-bottom-sec ul li {
        min-height: initial;
        padding: 10px;
    }

    .img-outer-cstm {
        max-height: 10em;
    }
    .monthly-stored-value-bottom-sec li span{
        max-width: 98px;
        font-size: 10px;
        bottom: -13px;
    }

    .monthly-stored-value-bottom-sec ul{
        grid-gap: 10px;
    }
    .monthly-stored-value-bottom-sec ul{
        grid-template-columns: repeat(5, 1fr);
    }
    .monthly-stored-value-bottom-sec h4 {
        margin: 0 0 15px 0;
    }

    .payment_method_select{
        height: 40px;
    }

    .payment_method .modal-footer{
        margin-top: 0;
    }

    .page-price_plan section{
        padding-bottom: 0!important;
    }
}


/* Portrait tablets and small desktops */
@media all  and (max-width: 995px) {

    .modal.video_detail .modal-content{
        overflow: auto;
    }

    .progress-container-star {
        height: 10px;
        width: 66px;
        margin-top: 0px;
        margin-right: 10px;
    }
    .list_ratings, .mall-category-header-menu {
        padding: 3px 10px;
    }


    ul.gamelist_inner li .listbox h4 {
        font-size: 1.3rem;
    }
    ul.gamelist_inner li .listbox h5 {
        font-size: 1rem;
    }
    ul.gamelist_inner li .listbox{
    }
    ul.gamelist_inner {
        grid-gap: 10px;
    }

    .menu.select-level a {
        margin: 1px;
        padding: 3px;
    }

    .right-author-chat-icon img {
        width: 125px;
    }

    .login-homepage-bottom-sec {
        margin-top: 0;
    }


    .uniformbox_inner {
    }

    .uniformbox_inner .bookname {
    }

    .uniformbox_inner .bookname h2 {
    }

    .uniformbox_inner .coinbtn {
    }

    .img_inner {
        padding: 5px;
    }


    .product-price span b {
        font-size: 14px;
    }

    ul.gamelist_inner.grid-200 {
        grid-gap: 10px;
    }

    ul.gamelist_inner li .listbox span img {
        width: 15px;
    }

    .product-price span {
        font-size: 16px;
    }

    body.uniform_maingame {
        overflow: unset;
    }

    section.uniformsister-02 {
        height: 100vh;
    }

    .mark180 ul li img {
    }

    .yellowshed .pull-left.text-right {
        bottom: 78px;
    }

    .topstart_block h1 {
        font-size: 25px;
    }

    .topstart_block h2 {
        font-size: 20px;
    }


    .toprate_block img.girlimg {
        max-width: 145px;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        font-size: 20px;
    }

    .markchina h2 {
        font-size: 23px;
    }


    ul.usernmber_list li p {
        font-size: 16px;
    }

    ul.usernmber_list li h1 {
        font-size: 25px;
    }

    .circleimgs_botm .nmbrten {
        bottom: -5px;
        right: -5px;
    }

    button.prpulbtn img {
        max-width: 100px;
    }

    .jointsbotm_btn h3.txt01 {
        left: 15%;
        top: 32px;
    }

    .jointsbotm_btn h3.txt02 {
        top: 31px;
    }

    .infowith_pinkbg h1 {
        font-size: 30px;
    }

    .infowith_pinkbg {
        padding: 10px 20px;
    }

    .uniformvedio_section {
        margin-top: -35px;

    }

    .page-role_play .uniformvedio_section{
        height: auto !important;
        position: static !important;
        top: 0 !important;
        margin-top: 0 !important;
        transform:  none !important;
        padding-top: 0;
    }
    .uniformvedio_section.video-section table{
        border-spacing: 20px 10px;
    }

    .page-role_play .vedio video {
        width: 100%;
        min-height: 175px;
    }

    .page-role_play .vedio{
        border: none;
    }

    .infowith_pinkbg {
        margin-top: 8%;
    }

    .welcome-mid-left-girl-img img.girl-img {
        margin: 0;
        margin-left: auto;
    }

    .logo-section img {
        max-height: 65px;
    }

    .welcome-left-author-sec {
        clear: both;
    }

    .header-top-left-menu ul li a {
        font-size: 1.3rem;
    }

    .welcome-bottom-inner {
        margin-bottom: 0;
    }


    span.img-sec {
        width: 43px;
        height: 43px;
        top: 0;
        left: 10px;
        border: none;
    }

    span.price-icon img {
        max-width: 25px;
    }

    span.img-sec img {
        width: 35px;
        height: 35px;
    }

    .welcome-left-author-data-sec h3 {
        font-size: 1.8rem;
    }

    span.price-icon h5 {
        font-size: 1.8rem;
        padding-left: 34px;
        line-height: 27px;
    }

    .welcome-left-author-data-sec {
        width: 220px;
        min-width: initial;
        left: -33px;
    }

    .welcome-mid-left-sec {
        width: 32%;
    }

    .menu-side-nav {
        position: absolute;
        right: 0;
        z-index: 999999;
    }

    .header-top-left-menu {
    }

    .welcome-mid-right-top-right {
        width: calc(100% - 155px);
        margin-left: 0;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 1.3rem;
    }

    .welcome-mid-right-top-left {
        width: 149px;
    }

    .welcome-mid-right-bottom-sec {
        margin-top: 0;
    }

    .progress-level {
        height: 20px;
    }

    .progress-level h6 {
        font-size: 1.5rem;
        line-height: 100%;
    }

    .welcome-mid-right-top-left ul li {
        margin-bottom: 7px;
    }

    .wel-mid-right-top-right-innr {
        height: auto;
        min-height: 65px;
        max-height: 83px;
        font-size: 1.5rem;
    }

    .welcome-bottom-inner-btn {
        right: 9px;
    }

    .slider-item-inner h4 {
        font-size: 1.3rem;
        padding: 4px;
    }

    .slider-item-inner .slidertxt-bar {
        padding-bottom: 30px;
    }

    .welcome-bottom-sec .container {
    }

    .welcome-bottom-inner-btn a img {
        width: 60px;
        max-height: initial;
    }

    body.page-dashboard {
        overflow: hidden;
        position: fixed;
    }

    section.uniformsister-02 .uniformheader img {
        max-width: 150px;
    }

    .mark180 ul li {
        box-shadow: none;
        border-width: 1px;
    }


    ul.usernmber_list li h1 {
        font-size: 1.3rem;

    }

    ul.usernmber_list li p {
        font-size: 1.3rem;
    }

    .topstart_block {
        padding: 10px;
        flex-basis: initial;
    }

    .toprate_block img.girlimg {
        max-width: 120px;
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 82px;
        margin-top: 0;
        object-position: top;
    }

    .totalpoints h3 {
        font-size: 1.3rem;
        padding: 6px;
    }

    .mark180 ul li h2 {
        font-size: 2rem;
        margin: 5px;
    }

    .markchina h2 {
        font-size: 2rem;
    }


    .toprate_block {
        width: 100%;
    }

    .yellowshed .pull-left.text-right {
        bottom: 0;
        width: 100%;
        position: absolute;
        text-align: left;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        margin: 2px;
    }

    .yellowshed .pull-left.text-right h4 {
        display: none;
    }

    section.uniformsister-02 .uniformheader {
    }

    .yellowshed .pull-right {
        position: relative;
        z-index: 9;
    }

    .yellowshed .golimg {
        max-width: 50px;
    }

    .yellowshed .golimg h1 {
        font-size: 1rem;
        padding: 14px;
        text-align: center;
    }

    .redvlack_circle {
        max-width: 40px
    }

    .redvlack_circle .text {
        font-size: 1.3rem;
    }

    .list_ratings {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .list_ratings ul li button.rate {
        padding: 5px 15px;
        font-size: 14px;
        margin-left: 10px;
    }

    .list_ratings button.bookbtn {
        padding: 0px 5px;
    }

    .list_ratings h2 {
        margin-top: 0
    }

    .scroll-y {
        height: auto;
        overflow: auto;
        padding-bottom: 20px;
    }

    body:not(.page-role_play) section {
    }

    .page-index section {
        padding-bottom: 0;
    }

    span.numbers {
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
    }

    a.btn.btn-registered-link {
        margin-left: 0;
        padding: 0;
    }


    .login.modal .modal-content, .register.modal .modal-content, .cell_register.modal .modal-content, .mail_register.modal .modal-content, .sms_verify.modal .modal-content, .forget_password.modal .modal-content {
        min-height: initial;
    }

    .login-home-page-logo-sec img {
        max-height: 60vh;
        max-width: 100%;
        width: auto;
    }

}


@media all and (max-width: 950px) {
    div#mySidenavÃ‚Â  {
        max-width: 170px;

    }

    .card-remove{
        width: 26px;
        height: 26px;
        font-size: 1.5rem;
        right: -10px;
        top: -10px;
    }

    .dices-result img {
        width: 35px;
        height: 35px;
    }

    .dices-result {
        position: fixed;
        width: 130px;
        height: 55px;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        border: 3px solid #fff;
    }

    ul.gamelist_inner.card-select li{
        padding: 5px;
    }

    .list_ratings ul.gamelistul li a,
    .gamelist-03 .list_ratings h2{
        font-size: 1.3rem;
    }
    .bookbtn img {
        width: 18px;
    }



}

@media (max-device-width: 768px) and (orientation: portrait) {
    #buttons-container {
        display: block !important;
        z-index: 10000000 !important;
        width: 100%;
        height: 100%;
        position: fixed;
        margin: 0;
        top: 0;
        left: 0;
    }
}

@media (max-device-width: 768px) and (orientation: landscape) {
    #buttons-container {
        display: none !important;
    }
}


@media (max-width: 768px){
    .mark180 ul li img {
    }

    body {
        width: 100%;
    }

    #buttons-container {
        background: url(../images/login-homepage-bg.jpg) no-repeat left top;
        background-size: cover;
        padding: 20px;
        position: fixed;
        z-index: 99999;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
    }

    button#lock-landscape-button {
        background: rgba(0, 0, 0, 0.8);
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px 30px;
        border: 2px solid #fff;
        border-radius: 10px;
        color: #fff;
        text-shadow: 0 0 10px #000;
        box-shadow: 1px 1px 10px rgba(234, 133, 178, 1);
        letter-spacing: 0.5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 300px;
        height: 60px;
    }

    #unlock-button {
        display: none;
    }
    .header-top-left-menu ul li a {
        font-size: 15px;
        padding: 5px 15px;
        margin: 0 5px;
    }

    .logo-section img {
        max-height: 60px;
    }

    .welcome-mid-left-girl-img img.girl-img {
        margin-top: 0;
    }


    .welcome-left-author-data-sec h3 {
        font-size: 14px;
    }

    span.price-icon img {
        max-width: 18px;
    }

    span.price-icon h5 {
        margin: 0;
        float: left;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        color: #fff1a9;
        width: 100%;
        position: absolute;
        border-radius: 10px;
        padding-left: 16px;
        line-height: 20px;
    }

    .right-author-chat-icon img {
        max-width: 182px;
    }

    .slider-item-inner img {
        height: 80px;
    }

    .slider-item-inner h4 {
        font-size: 14px;
        padding: 5px;
    }

    .welcome-mid-right-sec {
    }

    .welcome-mid-right-top-left h2 {
        font-size: 14px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 10px;
    }

    .wel-mid-right-top-right-innr h4 {
        font-size: 12px;
    }

    .wel-mid-right-top-right-innr {
        height: 80px;
    }

    .welcome-mid-right-top-left ul li {
        margin-bottom: 8px;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 14px;
    }

    .welcome-bottom-inner-btn a img {
        max-height: 30px;
    }

    .welcome-bottom-inner .owl-nav img {
        max-width: 24px;
    }

    span.side-menu-cstm-toogle {
        width: 40px;
        height: 40px;
        font-size: 20px !important;
        line-height: 34px;
    }

    .welcome-bottom-inner-btn {
        z-index: 10;
    }


    .welcome-page {
        position: relative;
    }

    .gaming-header {
        padding-top: 10px;
    }

    .welcome-mid-right-top-right {
        padding: 10px;
    }

    .welcome-mid-right-bottom-sec {
        margin-top: 5px;
    }

    .wel-mid-right-top-right-innr {
        height: 70px;
    }

    .welcome-mid-right-bottom-left {
        width: 50%;
    }

    .welcome-mid-right-top-left ul {
        margin-top: 10px;
    }

    #loginmodal .modal-content, #registermodal .modal-content, #cellphoneregister .modal-content, #emailregister .modal-content, #smsverifypopup .modal-content, #forget-password-popup .modal-content, #filterpopup .modal-content {
        padding: 15px;
    }

    .login-header h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .filter-mid-section ul.filter-mid-left-selection li {
        margin: 8px 0;
    }

    .modal-header button.close {
        width: 30px;
        height: 30px;
        font-size: 24px;
        right: 15px;
        top: 15px;
    }

    ul.filter-mid-left-selection li label {
        font-size: 18px;
        line-height: 24px;
        padding-left: 30px;
    }

    .form-group-cstm .checkmark {
        width: 24px;
        height: 24px;
    }

    ul.filter-mid-left-selection li label .checkmark:after, .form-group-cstm .checkmark:after {
        width: 30px;
        height: 30px;
    }

    .button-group {
        line-height: 30px
    }

    .button-group img {
        max-width: 90px;
        height: auto;
        width: 100%;
    }

    .cstm-container .cstm-column a img {
        width: 100%;
        max-width: 200px;
    }

    .login-homepage-bottom-sec {
        margin-top: 15px;
    }

    .login-homepage-bottom-sec a {
        display: block;
        text-align: center;
    }

    .login-welcome-page .form-group label {
        font-size: 18px;
        line-height: 28px;
        margin: 5px 5px 20px 5px;
    }

    .login-welcome-page .form-group input.form-control {
        height: 40px;
    }

    .cstm-btn a img, button.btn.btn-newsletter-verificaion-btn img {
        max-width: 150px;
    }

    #mobile-registration-outer select.country-code {
        height: 30px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    #mobile-registration-outer label.cstm-label {
        line-height: 40px;
        margin: 0;
    }

    .newsletter-verification-form span.cstm-text-number {
        font-size: 18px;
    }

    p.newsletter-not-recve-cntnt {
        margin-top: 0;
        font-size: 18px;
    }

    .login-welcome-page .form-group input.form-control {
        font-size: 16px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .reward-collection-header-left-sec a {
        font-size: 20px;
    }

    .reward-collection-mid-section-options ul li {
        width: 33.33%;
        float: left;
    }

    .reward-collection-header-right-sec a {
        display: block;
        margin-top: 0;
    }

    .reward-collection-header {
        margin-top: 0;
        position: relative;
        z-index: 999;
    }

    .reward-collection-header-left-sec a img {
        max-width: 40px;
    }

    .reward-collection-header-right-sec a img {
        max-height: 40px;
    }

    button.key-selection-btn {
        width: 120px;
        background: transparent;
        color: #fff;
        padding: 5px 10px;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        border-radius: 30px;
        box-shadow: none;
        border: 2px solid #fff;
        margin-top: 0;
    }

    ul.selection-option-list .form-group-cstm label {
        padding: 10px;
    }

    .form-group-cstm label img {
        height: 80px;
    }

    button.receive-btn img {
        max-height: 45px;
    }

    .form-group-cstm label .price-span {
        font-size: 20px;
        line-height: 24px;
    }

    .reward-collection-mid-section {
        margin-top: 0;
    }

    div.receive-btn {
        bottom: -20px;
    }

    .reward-collection-mid-section {
        padding: 12px;
    }

    #myModal .modal-dialog {
        max-width: 90%;
    }

    .user-information-outer {
        margin: 0 auto;
    }

    .user-info-coulmn h2 {
        font-size: 30px;
    }

    .user-info-coulmn span {
        font-size: 18px;
    }

    .user-information-outer {
        padding: 0;
    }

    .monthly-stored-value a img {
        max-width: 400px;
    }

    .monthly-stored-value-bottom-sec ul li {
        /* width: 31.33%; */
        margin-bottom: 20px;
    }

    .monthly-stored-value-bottom-sec ul li {
        float: left;

        margin: 1%;
        margin-bottom: 20px;
        background: url(../images/monthly-value-bg-mobile.png) no-repeat;
        background-size: cover;
        border: 2px solid #fff;
        border-radius: 10px;
    }

    .img-outer-cstm {
        height: 6em;
    }

    .monthly-stored-value-bottom-sec ul li {
        min-height: 170px;
    }

    .monthly-stored-value-bottom-sec h4 {
        margin: 0;
    }

    .monthly-stored-value-bottom-sec ul {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 14em;
        padding: 15px;
        /* overflow: hidden; */
        /* overflow-y: auto; */
        padding-top: 0;
    }

    .img-outer-cstm img {
        object-fit: fill !important;
        height: auto !important;
        display: block;
        vertical-align: middle;
        overflow: hidden;
        margin: 0 auto;
    }

    .monthly-stored-value-bottom-sec li {
        /* max-width: 120px; */
        opacity: 0.9;
    }

    .monthly-stored-value-bottom-sec li:hover {
        opacity: 1;
    }

    .monthly-stored-value-bottom-sec li a {
        max-width: 120px;
    }

    .monthly-stored-value-bottom-sec li a {
        max-width: 120px;
        font-size: 18px;
        bottom: -15px;
    }

    .announcement-slider {
        margin-top: 20px;
    }

    .announcement-slider-left-sec h2 {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 24px;
    }

    .announcement-slider-left-sec p {
        color: #f0f0f0;
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }

    .announcement-slider .slider-item-inner .announcement-slider-right-sec img {
        height: 45vh;
    }

    .announcement-slider {
        padding: 20px;
    }

    .announcement-slider .owl-nav button img {
        max-width: 30px;
    }

    .announcement-slider .owl-nav button.owl-prev {
        left: -30px;
    }

    .announcement-slider .owl-nav button.owl-next {
        right: -30px;
    }

    ul.mall-category-menu li button {
        font-size: 1.2rem;
        padding: 0 7px;
    }

    .mall-category-header-menu span {
        font-size: 1.2rem;
        min-width: 60px;
    }

    .mall-category-header-menu span img {
        max-width: 16px;
        margin-top: 0;
        height: auto;
    }


    a.mall-product-inner img {

        margin: 0 auto;
    }

    .mall-category-products h3.product-title {
        margin-top: 10px;
        font-size: 18px;
    }

    .product-price span img {
        max-width: 20px;
    }

    .product-price span {
        font-size: 18px;
    }

    .mall-category-products {
        max-height: 60vh;
        grid-template-columns: repeat(4, 1fr);
    }

    #mallmodel .modal-dialog, .product_info .modal-dialog {
        max-width: 90%;
    }

    .mall-modal-content-right-sec h2 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        margin-bottom: 0;
    }

    .mall-modal-content-right-sec p {
        font-size: 15px;
    }

    .mall-modal-content .product-price span {
        padding: 0 20px;
        font-size: 20px;
        line-height: 0;
        margin-top: 0;
    }

    .mall-product-btn a {
        margin-left: 0;
        margin-top: 10px;
        font-size: 18px;
        clear: both;
    }

    .mall-modal-content #thumbnail-slider ul li {
        width: 60px !important;
        height: 60px !important;
    }

    .mall-modal-content #thumbnail-slider .thumb {
        width: 83%;
        height: 80%;
    }

    .mall-modal-content #thumbnail-slider {
        height: 220px;
    }

    #mallmodel .modal-content, .product_info .modal-content {
        padding: 15px;
    }

    .expensec-record-table-outer td {
        font-size: 16px;
    }

    form.customer-service-form button img {
        max-width: 120px;
    }

    form.customer-service-form textarea {
        min-height: 40vh !important;
    }

    .customer-service-record h3 {
        font-size: 24px;
    }

    table.customer-service-table th, table.customer-service-table td {
        font-size: 14px;
        padding: 5px;
    }

    table.customer-service-table td img {
        max-height: 25px;
    }

    form.customer-service-form .form-control {
        font-size: 16px;
    }

    .customer-service-record-table {
        width: 100%;
        height: 200px;
        overflow: auto;
    }

    .customer-service-record-table ul.pagination li a {
        background: none;
        border: none;
        font-size: 14px;
        padding: 0 7px;
    }

    .progress {
        width: 150px;
        height: 150px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }

    .progress .progress-value {
        font-size: 40px;
    }

    .user-info-coulmn a img {
        max-width: 120px;
    }

    .user-info-coulmn .author-img img {
        width: 60px;
        height: 60px;
    }

    .user-info-coulmn h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .welcome-page {
        min-height: 100% !important;
    }
}


/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .modal.fullpage_popup .closebtn{
        max-width: 130px
    }

    .list_ratings ul li button.rate {
        margin-left: 0;
    }

    .uniform_boxes ul li {
        width: 100%;
    }

    .uniformbox_inner .imgg {
    }

    .uniform_boxes ul li img {
        padding-bottom: 10px;
    }

    .uniform_boxes ul.card-pools li .imgg img{

    }

    .uniformbox_inner .bookname h2 {
    }

    .uniformbox_inner .coinbtn {
    }

    .uniformsister {
        height: 100%;
    }

    body:not(.page-card_list) ul.gamelist_inner li {
        text-align: center;
    }

    ul.gameseries li {
        width: 50%;
    }

    .img_inner {
        padding: 0;
    }

    .top_sec_one {
    }

    .box-011 {
    }

    .gametable_block .col-md-4.col-sm-4 {
        border-left: 0;
        box-shadow: none;
    }

    body.uniform_maingame {
        overflow: auto;
    }

    .infowith_pinkbg {
        padding: 15px;
        margin-bottom: 15px;
    }

    .vedio_slider .nowplay {
        width: 30%;
    }

    .infowith_pinkbg h1 {
        font-size: 32px;
    }

    .list_ratings button.bookbtn {
        padding: 0 5px;
    }

    .list_ratings h2 {
        font-size: 1.2rem;
    }

    .list_ratings ul li button.rate {
        padding: 2px 7px;
        font-size: 10px;
        border-width: 1px;
    }

    .list_ratings ul li button i{
        font-size: 1.2rem;
    }

    .list_ratings {
        text-align: center;
        margin-top: 0;
    }

    .vedio .vedioicon img {
        max-width: 65px;
    }

    .login-welcome-page .form-group input.form-control {
        height: 30px;
    }

    a.forgot-pass-link {
        font-size: 3.4vw;
    }

    .login.modal .modal-content, .register.modal .modal-content, .cell_register.modal .modal-content, .mail_register.modal .modal-content, .sms_verify.modal .modal-content, .forget_password.modal .modal-content {
        padding: 10px;
        width: 100%;
        max-width: initial;
    }

    .modal-bodyÃ‚Â  {
        margin-top: -35px;
    }

    .forgot_password .login-welcome-page .form-group label {
        font-size: 14px;
        line-height: 15px;
        margin-bottom: 20px;
    }

    .forgot_password .modal-footerÃ‚Â  {
        margin-top: -35px;

    }


    form.customer-service-form button imgÃ‚Â  {
        max-width: 90px;
    }
    .redvlack_circle img{
        width: 35px;
        height: 35px;
    }


}


@media (max-width: 500px) {
    .appear.ng-enter {
        transition: 0.4s linear all;
        opacity: 0;
        transform: scale(0);
    }

    .appear.ng-enter.ng-enter-active {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 479px) {
    ul.gamelist_inner li {
        width: auto;
        padding: 10px 0px;
    }

    .img_inner {
        padding: 40px 25px;
    }

    .vedio_slider .nowplay {
        width: 40%;
    }


}


@media all and (max-width: 375px){
    #mobile-registration-outer label.cstm-label{
        font-size: 14px
    }
}

/**
    Min width
    ========================================================================================================================
 */

@media all and (min-width: 600px) {
    .game-statistic {
        margin: 0;
        margin-left: 3vw;
    }
}

@media all and (min-width: 992px) {
    .checkout-left {
        border-right: 2px solid rgba(255, 255, 255, 0.3);
        padding-right: 25px;
    }

    .checkout-right {
        padding-left: 25px;
    }

    .welcome-mid-left-girl-img img.girl-img {
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .modal .modal-dialog.modal-xs {
        min-width: initial;
    }


}

@media (min-width: 1366px) {


    ul.gamelist_inner.grid-200 {
        grid-template-columns: repeat(6, 1fr);
    }

    .mall-category-products {
        grid-template-columns: repeat(6, 1fr)
    }

}


@media screen and (min-width: 1400px) {
    .form-group {
        margin-bottom: 30px;
    }
    .mall-category-products {
        margin-bottom: 20px;
    }


    .monthly-stored-value-bottom-sec {

        padding-left: 80px;
        padding-right: 80px;
    }


}

@media all and (min-width: 1600px) {
    .welcome-mid-right-top-left h2 {
        font-size: 43px;
    }

    .login-welcome-page .form-group label {
        font-size: 30px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }



    .welcome-mid-right-bottom-left h6 {
        font-size: 31px;
    }

    .slider-item-inner h4 {

    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 22px;
    }

    .sidenav a {
        font-size: 30px;
    }


    .user-credit {
        font-size: 20px;
    }



    .wel-mid-right-top-right-innr {
        height: 40vh;
        overflow-y: scroll;
    }

    .welcome-mid-right-bottom-left {
        margin-top: 15px;
    }


    #loginmodal .modal-content, #registermodal .modal-content, #cellphoneregister .modal-content, #emailregister .modal-content, #smsverifypopup .modal-content, #forget-password-popup .modal-content, #filterpopup .modal-content {
        min-height: 50vh;
    }

    .login-home-page-logo-sec {
        height: 70vh;
    }

    .login-home-page-logo-sec img {
        max-width: 90%;
    }

    .cstm-container .cstm-column a img {
        max-width: 100%;
    }

    .reward-collection-mid-section-options ul {
        height: 66vh;
    }

    .welcome-mid-right-bottom-left h6 {
        top: 10px;
    }

    .header-top-left-menu ul li a {
        font-size: 36px;
        padding: 10px 50px;
        border: 3px solid #fff;
    }


    .logo-section img {
        max-height: 250px;
    }

    span.side-menu-cstm-toogle, .sidenav a.closebtn {
    }

    span.img-sec {
        width: 120px;
        height: 120px;
    }

    .welcome-left-author-data-sec h3 {
        font-size: 40px;
    }

    span.price-icon h5 {
        font-size: 40px;
    }

    .welcome-left-author-data-sec {
        left: -30px;
        top: 10px;
    }

    .welcome-mid-right-sec:before {
        width: 214px;
        height: 195px;
        top: -100px;
        left: -70px;
    }

    .welcome-mid-right-top-left h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 36px;
    }

    .wel-mid-right-top-right-innr h4 {
        font-size: 30px;
    }

    .wel-mid-right-top-right-innr {
        height: 290px;
    }

    .right-cstm-btn-circle img {
        max-width: 250px;
        bottom: 0;
    }

    .right-cstm-btn-circle {
        bottom: -12vh;
    }

    .right-cstm-btn-circle img:hover {
        filter: brightness(120%);
    }

    /* Circle */
    .hover15 figure {
        position: relative;
    }

    .hover15 figure::before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255, 255, 255, .2);
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .hover15 figure:hover::before {
        -webkit-animation: circle .75s;
        animation: circle .75s;
    }

    .welcome-mid-right-bottom-left h6 {
        top: 0;
        font-size: 42px;
    }

    .welcome-mid-right-top-left ul li {
        margin-bottom: 30px;
    }

    .right-author-chat-icon img {
        max-width: 350px;
    }

    .right-author-chat-icon {
    }

    .welcome-bottom-inner-btn a img {
        max-height: 100%;
    }

    .welcome-bottom-inner-btn {
        /* top: -150px; */
    }

    .welcome-bottom-sec .container {
        padding: 0 3vw;
    }

    .slider-item-inner img {
        height: 150px;
    }

    .welcome-bottom-inner .owl-nav img {
        max-width: 77px;
    }

    .sidenav a {
        font-size: 35px;
    }

    .login-header h2 {
        font-size: 60px;
        margin-top: -12px;
        margin-bottom: 60px;
    }

    ul.filter-mid-left-selection li label {
        font-size: 40px;
    }

    .button-group img {
        width: auto;
        max-width: initial;
    }


    #loginmodal .modal-dialog, #registermodal .modal-dialog, #cellphoneregister .modal-dialog, #emailregister .modal-dialog, #smsverifypopup .modal-dialog, #forget-password-popup .modal-dialog, #filterpopup .modal-dialog {
        max-width: 1000px;
        margin-top: 5%;
    }

    #loginmodal .modal-content, #registermodal .modal-content, #cellphoneregister .modal-content, #emailregister .modal-content, #smsverifypopup .modal-content, #forget-password-popup .modal-content, #filterpopup .modal-content {
        min-height: 720px;
    }

    .filter-mid-section ul.filter-mid-left-selection li {
        margin: 30px 0;
    }

    #filterpopup .filter-mid-section {
        float: left;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    #filterpopup .filter-mid-section {
        float: left;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 60px;
        max-width: 600px;
        float: none;
        margin-right: auto;
        clear: both;
        margin-left: auto;
    }

    #filterpopup .button-group {
        margin-top: 50px;
    }

    #filterpopup .modal-dialog {
        margin-top: 100px;
    }

    .cstm-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .login-welcome-page .form-group label {
        font-size: 35px;
    }

    .login-welcome-page .form-group input.form-control {
        height: 80px;
        border-radius: 40px;
    }

    .form-group {
        margin-bottom: 40px;
    }


    #loginmodal form.form-signin, #forget-password-popup form {
        max-width: 700px;
        margin: 0 auto;
    }

    #loginmodal .modal-content, #registermodal .modal-content, #cellphoneregister .modal-content, #emailregister .modal-content, #smsverifypopup .modal-content, #forget-password-popup .modal-content, #filterpopup .modal-content {
        border-radius: 30px;
    }

    .login-welcome-page .form-group input.form-control {
        font-size: 35px;
        padding: 0 30px !important;
    }

    #mobile-registration-outer select.country-code {
        height: 80px;
        font-size: 30px;
        border-radius: 40px;
    }

    button.btn.btn-newsletter-verificaion-btn img {
        max-width: 100%;
    }

    .cstm-btn a img {
        max-width: 100%;
    }

    p.newsletter-not-recve-cntnt {
        font-size: 35px;
        margin-top: 0;
    }

    button.btn.btn-newsletter-confirm-btn {
        display: block;
        width: 100%;
    }

    #smsverifypopup form {
        max-width: 700px;
        margin: 0 auto;
    }

    a.btn {
        display: block;
        padding: 0;
        width: 100%;
        border: none;
        background: none;
        outline: none;
    }

    .newsletter-verification-form span.cstm-text-number, .newsletter-verification-form span.cstm-text-number strong {
        font-size: 30px;
    }

    .header-top-left-menu {
        /* margin-left: 7%; */
    }

    .reward-collection-header-left-sec a {
        font-size: 30px;
        line-height: normal;
    }

    .reward-collection-header-left-sec a img {
        max-width: 60px;
    }

    .reward-collection-header-right-sec a img {
        max-height: 70px;
    }

    .reward-collection-outer .container {
        max-width: 100%;
        width: 100%;
        padding: 0 50px;
    }

    div#buttons-container {
        display: none;
    }

    button.key-selection-btn {
        width: 170px;
        height: 60px;
    }

    .selection-option-list .form-group-cstm label {
        height: 330px;
    }

    .selection-option-list .form-group-cstm label img {
        max-width: 100%;
        text-align: center;
        margin: 15px auto;
        margin-top: 15px;
        height: 200px;
        object-fit: contain;
    }

    .selection-option-list .form-group-cstm .checkmark {
        top: 20px;
        right: 20px;
    }

    .selection-option-list .form-group-cstm label .price-span {
        font-size: 35px;
        line-height: 40px;
        padding: 5px 0;
        font-weight: 600;
    }

    .reward-collection-mid-section-options ul {
        height: 60vh;
    }

    button.receive-btn img {
        max-height: 91px;
    }

    #myModal .modal-dialog {
        max-width: 90%;
        width: 1000px;
        margin-top: 7%;
    }

    #myModal .modal-dialog .modal-body {
        padding: 30px;
    }

    .reward-confirmation-btn button img {
        max-width: initial;
    }

    .reward-collection-modal ul {
        height: 45vh;
    }

    .reward-confirmation-btn button {
        margin-top: 40px;
    }

    .reward-collection-modal span.left-side, .reward-collection-modal ul li span {
        font-size: 35px;
    }

    .expensec-record-table-outer {
        padding: 20px 50px;
    }

    .expensec-record-table-outer td {
        font-size: 35px;
    }

    .reward-collection-header-left-sec a img {
        /* max-width: 100px; */
    }

    .customer-service-mid-section {
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }

    form.customer-service-form .form-control {
        font-size: 35px;
        min-height: 70px;
        border-radius: 15px;
        padding: 5px 30px;
    }

    form.customer-service-form button img {
        width: auto;
        max-width: 100%;
    }

    form.customer-service-form button {
        margin-top: -90px;
    }

    .customer-service-record h3 {
        font-size: 35px;
    }

    table.customer-service-table th, table.customer-service-table td {
        font-size: 30px;
        padding: 15px;
    }

    table.customer-service-table td img {
        max-height: 100%;
        height: auto;
    }

    .customer-service-record-table ul.pagination li a {
        font-size: 30px;
    }

    .user-information-outer .author-img img {
        margin: 0 auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .user-info-coulmn h2 {
        font-size: 50px;
        line-height: 60px;
    }

    .user-info-coulmn span {
        font-size: 35px;
    }

    .user-information-outer .user-info-coulmn {
        border-right: 4px solid rgba(0, 0, 0, .8);
    }

    .user-info-coulmn h5 {
        font-size: 35px;
        margin-bottom: 30px;
        display: block;
    }

    .user-info-coulmn h3 {
        font-size: 80px;
        margin-top: 50px;
        margin-bottom: 60px;
        font-weight: 600;
    }

    .user-info-coulmn a img {
        max-width: 100%;
    }

    .user-info-coulmn h5 {
        margin-top: 50px;
    }

    .user-information-outer .user-info-coulmn img {
        margin-bottom: 35px;
    }

    .progress {
        width: 373px;
        height: 373px;
        line-height: 373px;
    }

    .progress .progress-right .progress-bar {
        border-top-left-radius: 200px;
        border-bottom-left-radius: 200px;
    }

    .progress .progress-left .progress-bar {
        border-top-right-radius: 200px;
        border-bottom-right-radius: 200px;
    }

    .progress .progress-value {
        font-size: 100px;
    }

    .progress .progress-value span {
        font-size: 35px !important;
        color: #dddddd;
        margin-top: -50px;
        line-height: 70px;
    }

    .monthly-stored-value a img {
        max-width: 1100px;
    }

    .monthly-stored-value-bottom-sec {
        float: left;
        width: 100%;
        /* margin-top: -50px; */
        position: relative;
        z-index: 10;
    }

    .monthly-stored-value-bottom-sec ul li {
        background-size: contain;
        background-position: center;
    }

    .monthly-stored-value-bottom-sec h4 {
        font-size: 30px;
    }

    .monthly-stored-value-bottom-sec li a {
        font-size: 30px;
        max-width: 200px;
    }

    .announcement-cstm-outer {
        max-width: 90%;
        margin: 0 auto;
    }

    .announcement-slider-left-sec h2 {
        font-size: 40px;
        margin-top: 2em;
        font-weight: 600;
    }

    .announcement-slider {
        padding: 100px;
        padding-bottom: 70px;
    }

    .announcement-slider-left-sec p {
        font-size: 30px;
    }

    .announcement-slider .slider-item-inner .announcement-slider-left-sec {
        width: 35%;
        float: left;
        padding-right: 20px;
        padding-left: 20px;
    }

    .announcement-slider .slider-item-inner .announcement-slider-right-sec {
        width: 65%;
    }

    .announcement-slider .owl-nav button img {
        max-width: 100%;
    }

    .announcement-slider .owl-nav button.owl-prev {
        left: -7%;
        position: absolute;
    }

    .announcement-slider .owl-nav button.owl-next {
        right: -7%;
    }

    ul.mall-category-menu li button {
        font-size: 30px;
        padding: 0 30px;
    }

    .mall-category-header-menu span {
        font-size: 30px;
    }

    .mall-category-header-menu span img {
        max-width: inherit;
        min-height: 30px;
    }

    .mall-category-products a img {
        width: 100% !important;
    }

    .mall-category-products h3.product-title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .product-price span b {
        font-size: 30px;
        font-weight: 600;
        vertical-align: middle;
    }

    .product-price span img {
        max-width: 50px;
        vertical-align: middle;
    }

    .mall-product-btn a {
        background: #fd3779;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
        padding: 5px 40px;
        border-radius: 10px;
        border: 2px solid #fff;
        margin-left: 30px;
        display: block;
        text-decoration: none;
        height: 70px;
        width: 180px;
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
    }

    #mallmodel .mall-modal-content, .product_info .mall-modal-content {
        float: left;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


@media all and (min-width: 2560px){
    .welcome-mid-left-girl-img img.girl-img{
        height: 100vh;
    }
    .welcome-mid-right-sec {
        top: 4em;
    }
    .right-author-chat-icon {
        right: 14%;
    }
    .slider-item-inner img {
        height: 250px;
    }
}

/**
Max Width
=============================================================================================================================
 */


/**
===============================================================================================================================
 */

@media (max-width: 992px) and (max-height: 680px) {
    .modal-content {
        min-width: 40vw;
    }

    .slider-item-inner img {
        height: 55px;
    }

    .ticket_reply .modal-contentÃ‚Â  {
        min-width: 60vw;

    }

    .card_select .modal-content {
        overflow: visible;
    }

    .login-welcome-page .form-group label {
        margin-bottom: 20px;
    }
}



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .uniformbox_inner .coinbtn {
        position: unset;
        width: 100%;
        padding: 25px 0px;
    }

    .uniform_boxes ul li {
        min-height: 315px;
    }

    .uniformbox_inner {
        min-height: 315px;
    }

    ul.gamelist_inner li .listbox {
        padding: 15px;
    }

    .uniformsister {
        height: auto;
    }

    body.uniform_maingame {
        overflow: unset;
    }

    section.uniformsister-02 {
        height: 100vh;
    }

    button.prpulbtn img {
        max-width: 140px;
    }

    button.prpulbtn h3 {
        top: 2px;
        font-size: 18px;
    }

    .jointsbotm_btn h3.txt01 {
        left: 19%;
    }
}



/* Large desktops and laptops */
@media (min-width: 1200px) and (min-height: 600px) {
    .babyimg {
        /* width: auto; */
        /* top: -40px; */
        /* left: -91px; */
    }

    .babyimg img {
        /* width: auto; */
        /* height: 61vh; */
        /* max-height: 500px; */
    }

    .babyimg_info {
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-height: 590px) {
    .babyimg {
        width: auto;
        top: -40px;
        left: -50px;
    }

    .babyimg img {
        width: auto;
        height: 61vh;
        max-height: 500px;
    }

    .modal-content {
        max-width: 700px;
    }

    .babyimg_info {
        height: 32vh;
    }
}



@media all and (min-width: 1024px) and (max-width: 1280px) {
    .mark180 ul li img {
        max-width: 42px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1250px) {
    .welcome-mid-right-top-left h2 {
        font-size: 3rem;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {
        font-size: 2.3rem;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }

    .slider-item-inner h4 {
        font-size: 1.5vw;
    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 14px;
    }

    .product-price span b {
        font-size: 18px;
    }

    .sidenav a {
        font-size: 30px;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 2.3rem;
    }

    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

    button.prpulbtn {
    }

    button.prpulbtn h3 {
        font-size: 1.8vw;
    }

    .start-btn .jointsbotm_btn h3.txt01 {
        font-size: 2.3vw;
    }

    .reset-btn .jointsbotm_btn h3.txt01 {
        font-size: 1.7vw;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        font-size: 20px
    }

}

@media all and (min-width: 1250px) and (max-width: 1440px) {
    .welcome-mid-right-top-left h2 {
        font-size: 30px;
    }

    .welcome-left-author-sec{
        top: 44%;
    }

    .right-author-chat-icon{
        top: 59vh;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }

    .wel-mid-right-top-right-innr {
        font-size: 1.4vw;
    }

    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }

    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 20px;
    }

    .sidenav a {
        font-size: 30px;
    }



    .game-statistic {
        margin: 0;
    }



}

@media all and (min-width: 1440px) and (max-width: 1600px) {
    .welcome-mid-right-top-left h2 {
        font-size: 36px;
    }

    .login-welcome-page .form-group label {
        font-size: 24px;
    }

    .login-welcome-page .form-group input.form-control {
        border: 1px solid #fcf8e36b;
    }

    .welcome-left-author-data-sec h3,
    span.price-icon h5 {
        font-size: 28px;
    }


    .welcome-mid-right-bottom-left h6 {
        font-size: 22px;
    }


    .slider-item-inner .slidertxt-bar h6 {
        font-size: 16px;
    }

    .product-price span b {
        font-size: 22px;
    }

    .sidenav a {
        font-size: 30px;
    }



    .user-credit {
        font-size: 20px;
    }

    .game-statistic {
        margin: 0;
    }

}
