/* ----------- Kindle fire ----------- */

/* Portrait */
/* Landscape */
@media only screen
and (device-height: 800px)
and (device-width: 1024px)
and (orientation: landscape) {
    .babyimg_info .paragraph{
        font-size: 1.5rem;
    }
    .product-price span img{
        width: 21px;
    }
    .babyimg_info .tpname h2{
        font-size: 2rem
    }
    .babyimg {
        width: auto;
        top: -33px;
        left: -37px;
    }

    .babyimg img{
        width: auto;
        height: 78vh;
    }

    .card_detail .modal-content{
        max-width: 90vw;
        overflow: visible;
    }

    .babyimg_info {
        height: 35vh;
    }

    .card_detail .modal-footer button.popupprple_btn{
        margin-left: 5px;
        position: relative;
        width: 97px;
        height: 29px;
    }
    .card_detail .modal-footer {
        justify-content: space-evenly;
    }

    .card_detail .modal-footer button.popupprple_btn span{
        font-size: 1.5rem;
        height: 100%;
        bottom: initial;
        top: 0px;
    }

    .card_detail .modal-footer button.popupprple_btn img{
        display: block;
    }
    .modal-header button.popupprple_btn{
        right: -31px;
        top: -54px;
    }

    button.popupprple_btn img.popup_close_icon{
        width:40px;
        height: 40px;
    }

    .progress-container-star{

        width: 150px;

        height: 25px;
    }
}