/* Landscape */
@media only screen and (min-device-height: 356px) and (max-device-width: 726px) and (orientation: landscape) {
    /*Card detail*/ .babyimg_info .paragraph {
    font-size: 1.5rem;
}

    .product-price span img {
        width: 21px;
    }

    .babyimg_info .tpname h2 {
        font-size: 2rem
    }

    .babyimg {
        width: auto;
        top: -52px;
        left: -37px;
    }

    .babyimg img {
        width: auto;
        height: 79vh;
    }

    .card_detail .modal-content {
        max-width: 90vw;
        overflow: visible;
    }

    .babyimg_info {
        height: 35vh;
    }

    .card_detail .modal-footer button.popupprple_btn {
        margin-left: 5px;
        position: relative;
        width: 97px;
        height: 29px;
    }

    .card_detail .modal-footer {
        justify-content: space-evenly;
    }

    .card_detail .modal-footer button.popupprple_btn span {
        font-size: 1.5rem;
        height: 100%;
        bottom: initial;
        top: 0px;
    }

    .card_detail .modal-footer button.popupprple_btn img {
        display: block;
    }

    .modal-header button.popupprple_btn {
        right: -47px;
        top: -33px;
    }

    button.popupprple_btn img.popup_close_icon {
        width: 40px;
        height: 40px;
    }

    /*Dashboard*/
    .welcome-bottom-inner {
        padding-bottom: 0;
    }

    .owl-carousel .owl-item img {
        height: 55px;
    }

    .right-cstm-btn-circle img {
        max-width: 70px;
    }

    .welcome-mid-right-sec {
        width: 400px;
        top: 67px;
        padding: 10px;
        right: 74px;
    }

    span.side-menu-cstm-toogle {
        width: 38px;
        height: 38px;
        font-size: 18px !important;
    }

    .welcome-mid-left-girl-img img.girl-img {
        margin-left: 26px;
    }

    span.price-icon h5 {
        padding-left: 25px;
        font-size: 14px;
        line-height: 20px;
    }

    span.price-icon img {
        width: 20px;
    }

    .welcome-left-author-data-sec h3 {
        font-size: 1.5rem;
    }

    .welcome-left-author-data-sec {
        width: 160px;
        padding-left: 45px;
    }

    .welcome-left-author-sec {
        top: 49%;
        left: -20px;
    }

    .booksthree_btn {
        padding-top: 5px;
        max-width: 325px;
    }


    .uniformheader {
        padding: 5px 0px 0 10px;
        margin-bottom: 5px;
    }

    ul.gamelist_inner li button.listimg {
        margin: 0;
    }

    .welcome-mid-right-top-left h2 {
        font-size: 2rem;
    }

    .welcome-mid-right-top-left li h3 {
        font-size: 1.3rem;
    }

    .sidenav a.closebtn {
        top: 25px !important;
        right: 10px !important;
    }

    .right-author-chat-icon {
        left: 50%;
        bottom: 36%;
    }

    button {
        padding: 5px 20px;
        font-size: 1.5rem;
    }

    .modal-header .modal-title {
        font-size: 2.5rem
    }

    .welcome-bottom-inner .owl-nav button.owl-prev {
        left: -54px;
    }

    .welcome-bottom-inner .owl-nav button.owl-next {
        right: -25px;
    }

    .header-top-left-menu ul li a {
        font-size: 1.5rem;
    }

    .header-top-left-menu ul li a {
        padding: 6px 25px;
    }

    .slider-item-inner h4 {
        font-size: 0.8rem;
        padding: 3px;
    }

    .slider-item-inner .slidertxt-bar {
        padding-bottom: 18px;
    }

    .right-author-chat-icon img {
        width: 110px;
    }

    .wel-mid-right-top-right-innr {
        font-size: 1.3rem;
    }

    .welcome-mid-right-top-left h3 strong {
        font-size: 1.3rem;
    }

    .slider-item-inner .slidertxt-bar .progress-level.small h6 {
        font-size: 1rem;
    }

    .welcome-mid-right-bottom-left {
        margin: 0;
    }

    .right-cstm-btn-circle {
        bottom: -29px;
        right: 10px;
    }

    .welcome-mid-right-top-left ul {
        margin-top: 5px;
    }

    .progress-level h6 {
        font-size: 1.4rem;
    }

    .progress-level {
        height: 20px;
    }

    .progress-level .progress-level-outer, .progress-level .progress-level-inner {
    }

    .welcome-bottom-inner-btn a img {
        width: 60px;
    }

    .welcome-mid-right-top-left {
        width: 150px;
    }

    /*Card select*/
    .card-remove {
        line-height: 23px;
        font-size: 1.8rem;
        width: 31px;
        height: 31px;
        right: -10px;
        top: -10px;
    }

    .img_inner {
        padding: 0;
    }

    ul.gamelist_inner.card-select li {
        min-height: initial;
    }

    button.popupprple_btn {
        margin: 0;
        padding: 0;
    }

    ul.gamelist_inner.grid-200 {
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    }

    ul.gamelist_inner li {
        min-height: initial;
    }

    .booksthree_btn button.bookbtn {
        font-size: 1.5rem;
    }

    .title-arrow a img {
        max-width: 45px !important;
    }

    .title-arrow h1 {
        font-size: 25px;
    }

    /*AV*/
    ul.gamelist_inner li .listbox img.eyebaby {
        min-width: initial;
        min-height: initial;
    }

    ul.gamelist_inner li .listbox {
        padding: 5px;
    }

    /*Mall*/
    .mall-category-products {
        max-height: initial;
    }

    .gallery_product {
        width: 100%;
    }

    /*Monthly stored value*/
    .monthly-stored-value-bottom-sec, .monthly-stored-value {
        float: none;
        height: auto;
    }

    .monthly-stored-value-bottom-sec ul {
        height: auto;
    }

    .page-prize_redeem .gamelist_top {
        overflow-x: visible;
    }

    button.bookbtn {
        margin-left: 0;
    }

    /*card buy*/
    .card-pools {
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    }

    .uniform_boxes ul li, .uniformbox_inner {
        min-height: initial;
    }

    .uniform_boxes ul li img {
        max-height: 95px;
        width: auto;
    }

    .uniformbox_inner .imgg {
        width: auto;
    }

    .uniformbox_inner .bookname h2 {
        font-size: 1.5rem;
    }

    .uniformbox_inner .bookname button.bookbtn {
        font-size: 1.5rem;
        padding: 5px 10px;
    }

    .uniformbox_inner .bookname {
        padding: 5px;
    }

    .uniformbox_inner .coinbtn {
        padding: 10px;
    }

    .uniformbox_inner .coinbtn h3 {
        font-size: 1.8rem;
    }

    .uniformbox_inner .coinbtn button.pinkbtn {
        margin-left: 0px;
    }

    .uniformbox_inner .coinbtn button.pinkbtn img {
        max-width: 80px
    }

    .uniformbox_inner .coinbtn img {
        max-width: 27px;
    }

    /*Card draw*/
    .gamelist_top {
        padding: 10px;
    }

    .gamelist_inner.small {
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        grid-gap: 10px;
    }

    .lucky_draw .modal-content {
        min-width: initial;
        width: auto;
    }

    .modal-header button.close {
        right: 0px;
        top: 0px;
    }

    .modal.fullpage_popup .modal-dialog .modal-content {
        max-width: 100vw;
        max-height: 100vh;
    }

    /*Prize redeem*/
    .boxcheck {
        top: 10px;
        right: 5px;
    }

    .checkmark {
        width: 25px;
        height: 25px;
    }

    button.bookbtn {
        padding: 5px 15px;
        font-size: 1.5rem;
    }

    /*Game*/
    .mark180 ul li img {
        max-width: 25px;
        padding: 5px 3px;
    }

    .game-statistic {
        position: fixed;
        left: 5px;
        top: 0;
    }

    section.uniformsister-02 .uniformheader img {
        max-width: 125px;
    }

    .mark180 ul li {
        padding: 5px 5px;
    }

    ul.diseboxs_list li img {
        max-width: 42px;
        padding: 5px 10px;
    }

    ul.usernmber_list li h1 {
        font-size: 1.5rem;
        padding: 7px 0;
    }

    ul.usernmber_list li p {
        font-size: 1.3rem;
        margin-bottom: 7px;
    }

    .topstart_block {
        padding: 0px;
        flex-basis: initial;
    }

    .toprate_block img.girlimg {
        max-width: 100px;
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 70px;
        margin-top: 0;
        object-position: top;
    }

    .totalpoints h3 {
        font-size: 1.5rem;
        padding: 9px;
    }

    .mark180 ul li h2 {
        font-size: 2rem;
        margin: 5px;
    }

    .markchina span.bigsign img {
        max-width: 50px;
    }

    .markchina h2 {
        font-size: 1.7rem;
    }

    .markchina {
        margin-top: 28px;
    }

    .toprate_block {
        width: 100%;
        height: 83px;
        overflow: hidden;
    }

    .yellowshed .pull-left.text-right {
        bottom: 0;
        width: 100%;
        position: absolute;
        text-align: left;
    }

    .progress-container {
        width: 100%;
    }

    .yellowshed .pull-left.text-right h1.ratetxt {
        margin: 2px;
        font-size: 1.3rem;
    }

    .yellowshed .pull-left.text-right h4 {
        display: none;
    }

    section.uniformsister-02 .uniformheader {
        width: auto;
        right: 0;
        left: initial;
    }

    .yellowshed .pull-right {
        position: relative;
        z-index: 9;
    }

    .yellowshed .golimg {
        max-width: 50px;
        padding-top: 0px;
    }

    .yellowshed .golimg h1 {
        font-size: 1rem;
        padding: 14px;
        text-align: center;
    }

    .bet-unit {
        width: 45px;
        height: 45px;
        font-size: 1.3rem;
    }

    .gametableinner {
        padding-top: 29px;
    }

    .gamelastpoint {
        flex-basis: 14%;
    }

    .gamelastpoint button {
        width: 80px;
        margin-left: 10px;
        height: 35px;
    }

    .start-btn {
        width: 100px;
        padding-bottom: 42px;
        height: 100px;
        padding-top: 7px;
    }

    .reset-btn {
        width: 103px;
        font-size: 2rem;
        padding-bottom: 55px;
        padding-top: 24px;
    }

    .jointsbotm_btn h3.txt01 {
        font-size: 2rem;
    }

    .jointsbotm_btn {
        margin-top: 57px;
    }

    .redvlack_circle {
        max-width: 40px
    }

    .redvlack_circle .text {
        font-size: 1.3rem;
    }

    .topstart_block h1 {
        font-size: 1.7rem;
    }

    .topstart_block h2 {
        font-size: 1.7rem;
        margin-bottom: 0;
    }

    .topstart_block ul li {
        padding: 3px 3px;
    }

    .progress-container {
        height: 10px;
    }

    .gametable_blocktop {
        max-width: 100%;
    }

    .topstart_block ul li img {
        max-width: 25px;
    }

    .gametable_block {
        flex-basis: 99%;
        max-height: calc(100% - 50px);
    }

    .game-statistic {
        max-width: 407px;
        left: -10px;
        padding: 6px;
    }

    .game-statistic h4 {
        font-size: 1.3rem;
    }

    .progress-container-star {
        height: 15px;
        width: 95px;
    }

    /*Role play*/
    .page-role_play .uniformvedio_section {
        margin-top: 0px;
    }

    .infowith_pinkbg {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
    }

    .infowith_pinkbg h1 {
        font-size: 2rem;
        margin: 0 0 10px 0;
    }

    .infowith_pinkbg ul {
        margin-top: 10px;
        padding: 0;
    }

    .infowith_pinkbg ul li {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .vedio_slider {
        margin-top: 0;
        height: auto;
    }
}


@media only screen and (device-width: 732px) and (device-height: 412px) and (orientation: landscape){
    .header-top-left-menu ul{
        flex-basis: 85%;
    }
    .welcome-mid-right-sec {
        right: 58px;
    }
    .welcome-mid-left-girl-img img.girl-img {
        margin-left: 0px;
    }
    .welcome-mid-right-sec {
        right: 67px;
        top: 85px;
    }
    .right-author-chat-icon {
        bottom: 36%;
    }
    .welcome-bottom-inner-btn {
        top: -25px;
        right: 10px;
    }
}

